{include file="page/header" /}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {include file="page/menu" /}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        企业分类列表 
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台</a></li>
        <li><a href="#">企业分类</a></li>
        <li class="active">列表</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">


            <div class="box-body">
              <a href="{:url('@admin/category/add')}" class="btn btn-primary btn-sm">添加分类</a>
              <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                  <div class="col-sm-12">
                  <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                    <thead>
                      <tr role="row">
                        <th>Id</th>
                        <th>分类名称</th>
                        <th>排序</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                    {if condition=" count($categorys) != 0 "}
                      {foreach name="categorys" item="category" key="k" }
                        <tr>
                          <td>{$category.id}</td>
                          <td>{$category.name}</td>
                          <td>{$category.weight}</td>
                          <td>
                            <a href="{:url('/admin/category/edit?id='.$category.id)}" class="">编辑</a> | 
                            <a href="{:url('/admin/category/delete?id='.$category.id)}" class="">删除</a>
                          </td>
                        </tr>
                      {/foreach}
                      {else}
                        <td>没有内容</td>
                      {/if}
                    </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
    {include file="page/footer" /}

  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}dist/js/demo.js"></script>
<!-- page script -->
<script>
  $(function () {
    
    $('#example1').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "pageLength": 25,
       "order": [[ 0, 'desc' ],
    });
  });
</script>
</body>
</html>
