{include file="page/header" /}
	<body>
		<div class="top"><h2><i class="jy-iconfont icon-index"></i><span class="span1">　首页</span>　>　<span class="span2">行业</span>　>　<span class="span3">品牌</span>　>　<span class="span4">产品详情</span></h2></div>
		<div id="big_main">
			<main class="main_left">
				<section class="left1">
					<div class="left1_1">
						<div class="img">
							<img src="{$Think.PAGE_PATH}img/lvyou (1).png" />
						</div>
						<div class="box">
							<div class="small_img swiper-container2">
								<ul class="swiper-wrapper">
									<li class="swiper-slide"><img src="{$Think.PAGE_PATH}img/lvyou (1).png" /></li>
									<li class="swiper-slide"><img src="{$Think.PAGE_PATH}img/lvyou (2).png" /></li>
									<li class="swiper-slide"><img src="{$Think.PAGE_PATH}img/lvyou (3).png" /></li>
									<li class="swiper-slide"><img src="{$Think.PAGE_PATH}img/lvyou (2).png" /></li>
									<li class="swiper-slide"><img src="{$Think.PAGE_PATH}img/lvyou (1).png" /></li>
									<li class="swiper-slide"><img src="{$Think.PAGE_PATH}img/lvyou (2).png" /></li>
									<li class="swiper-slide"><img src="{$Think.PAGE_PATH}img/lvyou (3).png" /></li>
								</ul>
							    <div class="swiper-button-prev"><</i></div>
							    <div class="swiper-button-next">></div>
							</div>
						</div>
					</div>
					<div class="left1_2">
						<p class="goods_name">兰馨2017新茶绿茶春茶贵州茶叶 特级耐泡明前雀舌 120g湄潭翠芽礼盒装</p>
						<p class="jianjie">低度酱香 飞天茅台</p>
						<p class="price">报价：<span>￥1299</span></p>
						<button>立即询价</button>
						<p class="jubao">举报</p>
					</div>
				</section>
				<section class="left2">
					<div class="left2_title">
						<h2><i class="jy-iconfont icon-baogao"></i>图文详情<span></span></h2>
					</div>
					<ul>
						<li>品牌<span>飞天茅台</span></li>
						<li>产地<span>贵州茅台镇</span></li>
						<li>规格<span>500ml</span></li>
						<li>度数<span>53度</span></li>
						<li>香型<span>酱香型</span></li>
					</ul>
					<div class="left2_1">
						<img src="{$Think.PAGE_PATH}img/hangye (1).png" />
					</div>
				</section>
				<section class="left3">
					<h3>评价</h3>
					<ul>
						<li>
							<p class="p1"><span class="name">因***信</span><span class="dengji"><i class="jy-iconfont icon-xingxing5"></i></span></p>
							<p class="p2">买的很值，喝过才知道，商家发货快。</p>
						</li>
						<li>
							<p class="p1"><span class="name">因***信</span><span class="dengji"><i class="jy-iconfont icon-xingxing5"></i></span></p>
							<p class="p2">买的很值，喝过才知道，商家发货快。</p>
						</li>
						<li>
							<p class="p1"><span class="name">因***信</span><span class="dengji"><i class="jy-iconfont icon-xingxing5"></i></span></p>
							<p class="p2">买的很值，喝过才知道，商家发货快。</p>
						</li>
						<li>
							<p class="p1"><span class="name">因***信</span><span class="dengji"><i class="jy-iconfont icon-xingxing5"></i></span></p>
							<p class="p2">买的很值，喝过才知道，商家发货快。</p>
						</li>
					</ul>
					<p class="more">查看更多评价<i class="jy-iconfont icon-xiala"></i></p>
				</section>
				<section class="left4">
					<h3>我要评价</h3>
					<table border="0" cellspacing="" cellpadding="">
						<tr>
							<th>总体评价：</th>
							<td id="star1"></td>
						</tr>
						<tr>
							<th>维度：</th>
							<td id="star2"></td>
						</tr>
						<tr>
							<th>维度：</th>
							<td id="star3"></td>
						</tr>
						<tr>
							<th>维度：</th>
							<td id="star4"></td>
						</tr>
					</table>
					<p class="pingjia">　　评价：</p>
					<textarea name="" rows="5" cols="50"></textarea>
					<button>发表评价</button>
				</section>
			</main>
			<main class="main_right">
				<section class="right1">
					<div class="right1_title">
						<h2><i class="jy-iconfont icon-baogao"></i>品牌信息</h2>
					</div>
					<div>
						<div class="right1_1"><img src="{$Think.PAGE_PATH}img/zhiming5.png"/></div>
						<div class="right1_2">
							<h4>阳春白雪</h4>
							<p>茶中佳品，滋味清醇爽口。茶中佳品，滋味清醇爽口。茶中佳品，滋味清醇爽口。茶中佳品，滋味清醇爽口。茶中佳品，滋味清醇爽口。</p>
						</div>
					</div>
				</section>
				<section class="right2">
					<div class="right2_title">
						<h2><i class="jy-iconfont icon-baogao"></i>该品牌其他商品</h2>
					</div>
					<ul>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/tuijian4.png"/></div>
							<p class="name">茅台王子酒</p>
							<p class="guige">53度  500ml</p>
							<button>立即询价</button>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/tuijian6.png"/></div>
							<p class="name">茅台王子酒</p>
							<p class="guige">53度  500ml</p>
							<button>立即询价</button>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/tuijian4.png"/></div>
							<p class="name">茅台王子酒</p>
							<p class="guige">53度  500ml</p>
							<button>立即询价</button>
						</li>
					</ul>
				</section>
			</main>
			
		</div>
		<div id="returnTop">
			<a href="#header"><i class="jy-iconfont icon-top"></a></i>
		</div>
		
		{include file="page/footer" /}
	</body>
	<script src="{$Think.PAGE_PATH}js/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/echarts.common.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/jquery.raty.min.js" type="text/javascript" charset="utf-8"></script>
			<script type="text/javascript">
		$(document).ready(function() {

			$("#big_main .main2 .main2_center ul li").click(function(){
				$(this).children("h5").children("i").css({
					"fontSize": "38px",
					"color": "#bd1500",
				});
				$(this).siblings("li").children("h5").children("i").css({
					"fontSize": "28px",
					"color": "#3556db",
				});
				$(this).children(".name").css("margin-top", "0");
				$(this).siblings("li").children(".name").css("margin-top", "10px");
				$(this).children(".small").css("display", "block");
				$(this).siblings("li").children(".small").css("display", "none");
			})
			var mySwiper2 = new Swiper('.swiper-container2', {
				pagination: 'null',
				slidesPerView: 'auto',
				spaceBetween: 0,
				freeMode: true,
			    nextButton: '.swiper-button-next',
			    prevButton: '.swiper-button-prev',
			});
			$("#big_main .main_left .left1 .left1_1 .box .swiper-container2 ul li img").click(function(){
				// 获取当前图片的src
				var ss = $(this)[0].src;
				// 将大图src换为当前图片的src
				$("#big_main .main_left .left1 .left1_1 .img img").attr("src", ss);
				// 修改当前li边框颜色
				$(this).parent("li").css("border-color", "#e44041");
				// 未被选中的li改回原来的边框颜色
				$(this).parent("li").siblings("li").css("border-color", "transparent");
			})
			
			$('#star1').raty({
				path: "{$Think.PAGE_PATH}/img",
				size: 100
			})
			$('#star2').raty({
				path: "{$Think.PAGE_PATH}/img",
				size: 100
			})
			$('#star3').raty({
				path: "{$Think.PAGE_PATH}/img",
				size: 100
			})
			$('#star4').raty({
				path: "{$Think.PAGE_PATH}/img",
				size: 100
			})
			$('#star5').raty({
				path: "{$Think.PAGE_PATH}/img",
				size: 100
			})
			$(window).scroll(function(){
				var top = ($(document).scrollTop());
				if(top > 840){
					$("#returnTop").show();
				}else if(top <= 600){
					$("#returnTop").hide();
				}
			});
			
		})
	</script>
</html>