#home-nav {
  width: 100%;
  background: #95c357;
  color: #fff;
}
#home-nav ul {
  height: 44px;
  width: 1200px;
  margin: 0 auto;
  line-height: 44px;
}
#home-nav ul li {
  float: left;
  width: 140px;
  text-align: center;
}
#home-nav ul li a {
  color: #fff;
}
#home-nav ul li:first-child {
  background: #5e8f1a;
}
#home-banner {
  min-width: 1200px;
  height: 400px;
}
#home-banner .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
#home-banner .swiper-pagination-bullet-active {
  background: #95c357;
}
#home-banner article {
  position: relative;
  top: -230px;
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  z-index: 100;
}
#home-banner article .nextBtn {
  display: none;
  top: 3px;
  width: 40px;
  height: 80px;
}
#home-banner article .swiper-button-prev {
  background: url(../img/next.png);
}
#home-banner article .swiper-button-next {
  background: url(../img/prav.png);
}
#home-banner:hover .nextBtn {
  display: block;
}
#home-aside {
  position: fixed;
  top: 0;
  display: none;
}
#home-aside li {
  margin: 5px 0;
}
#home-aside li a {
  display: inline-block;
  width: 44px;
  height: 44px;
  border: 1px solid #ccc;
  border-radius: 50%;
  line-height: 44px;
  text-align: center;
}
#home-aside li a span {
  display: none;
}
#home-aside li .asideStyle {
  display: inline-block;
  width: 44px;
  height: 44px;
  border: 1px solid #ccc;
  border-radius: 50%;
  line-height: 22px;
  text-align: center;
  background: #95c357;
}
#home-aside li .asideStyle i {
  display: none;
}
#home-aside li .asideStyle span {
  display: inline-block;
  font-size: 12px;
  padding: 0 5px;
  color: #fff;
  line-height: 16px;
  margin-top: 5px;
}
#home-main {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}
#home-main .mainOne {
  display: flex;
  justify-content: space-between;
}
#home-main .mainOne .zreo {
  width: 290px;
  height: 220px;
  color: #fff;
  text-align: center;
}
#home-main .mainOne .zreo .top {
  font-size: 38px;
  margin-top: 15px;
}
#home-main .mainOne .zreo .moddle {
  height: 40px;
  line-height: 40px;
  font-size: 23px;
  margin: 20px 0 30px 0;
}
#home-main .mainOne .zreo .btm {
  display: inline-block;
  font-size: 18px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
}
#home-main .mainOne .one {
  background: url(../img/chaojimiaosha.png);
}
#home-main .mainOne .one span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: #fff;
  color: #ff004c;
  text-align: center;
  line-height: 40px;
  font-size: 26px;
}
#home-main .mainOne .one .btm {
  color: #ff004c;
}
#home-main .mainOne .two {
  background: url(../img/dijiapintuan.png);
}
#home-main .mainOne .two .btm {
  color: #9695f2;
}
#home-main .mainOne .three {
  background: url(../img/lingquanzhongxin.png);
}
#home-main .mainOne .three .btm {
  color: #e18b04;
}
#home-main .mainOne .four {
  background: url(../img/xinpinzhuanqu.png);
}
#home-main .mainOne .four .btm {
  color: #2cc7bf;
}
#home-main .main-title {
  height: 40px;
  font-size: 26px;
  margin: 30px 0 20px 0;
}
#home-main .main-title .styleTitle {
  display: inline-block;
  width: 6px;
  height: 30px;
  background: #97c256;
  margin: 7px 10px 0 0;
  float: left;
}
#home-main .main-title .titleName {
  float: left;
}
#home-main p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#home-main .gonggongStyleOne {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}
#home-main .gonggongStyleOne li {
  width: 288px;
  height: 410px;
  border: 1px solid #eee;
  text-align: center;
  background: #fff;
}
#home-main .gonggongStyleOne li .img img {
  width: 240px;
  height: 240px;
  margin: 25px 0;
}
#home-main .gonggongStyleOne li .message {
  width: 80%;
  display: inline-block;
}
#home-main .gonggongStyleOne li .message .goodPri {
  font-size: 20px;
  height: 25px;
  line-height: 25px;
}
#home-main .gonggongStyleOne li .message .goodPri span {
  display: inline-block;
}
#home-main .gonggongStyleOne li .message .goodPri .price {
  width: 100px;
  height: 100%;
  border-radius: 12px;
  background: #95c357;
  color: #fff;
}
#home-main .gonggongStyleOne li .message .goodPri .dashed {
  width: 60px;
  border: 1px dashed #ccc;
  position: relative;
  top: -30%;
}
#home-main .gonggongStyleOne li .message .goodName {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  margin-top: 15px;
}
#home-main .gonggongStyleOne li .message .goodMessage {
  font-size: 14px;
}
#home-main .gonggongStyleOne li:hover {
  box-shadow: 0px 0px 4px 4px #ececec;
}
#home-main .gonggongStyleTwo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
#home-main .gonggongStyleTwo li {
  width: 290px;
  height: 380px;
  border: 1px solid #eee;
  text-align: center;
  background: #fff;
  position: relative;
  margin-bottom: 12px;
}
#home-main .gonggongStyleTwo li img {
  width: 240px;
  height: 240px;
  margin: 25px 0;
}
#home-main .gonggongStyleTwo li .message {
  padding: 0 24px;
}
#home-main .gonggongStyleTwo li .message .goodsName {
  font-size: 18px;
  margin-top: 4px;
}
#home-main .gonggongStyleTwo li .message .price {
  font-size: 20px;
  text-align: left;
  margin-top: 4px;
  color: #fe0000;
}
#home-main .gonggongStyleTwo li .message .price span {
  margin-left: 10px;
}
#home-main .gonggongStyleTwo li .message .shopping {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
#home-main .gonggongStyleTwo li:hover {
  box-shadow: 0px 0px  4px 4px #ececec;
}
#home-main .gonggongStyleTwo li:hover .shopping {
  background: #98c358;
}
#home-main .gonggongStyleTwo li:hover .shopping .shop1-icon::before {
  content: '\e627';
  font-size: 24px;
  color: #fff;
}
#home-main .main-shengtai .shengtaiTop {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
#home-main .main-shengtai .shengtaiTop img {
  width: 595px;
  height: 300px;
}
#home-main .main-banshou .banshouTopImg {
  width: 1200px;
  height: 400px;
}
#home-main .main-banshou ul li {
  height: 360px;
  border: 1px solid #ccc;
  margin: 12px 0;
}
#home-main .main-banshou ul li img {
  float: left;
  width: 800px;
  height: 360px;
}
#home-main .main-banshou ul li .message {
  float: left;
  height: 90%;
  width: 340px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#home-main .main-banshou ul li .message p {
  display: inline-block;
}
#home-main .main-banshou ul li .message .banshouTitle {
  width: 220px;
  height: 70px;
  border: 1px dashed #ccc;
  border-left: none;
  border-right: none;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
}
#home-main .main-banshou ul li .message .goodName {
  font-size: 24px;
  width: 100%;
}
#home-main .main-banshou ul li .message .goodMessage {
  font-size: 16px;
  color: #999;
}
#home-main .main-banshou ul li .message .price {
  font-size: 18px;
  color: #fff;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  background: #95c357;
}
#home-main .main-banshou ul li:hover {
  box-shadow: 0px 0px 4px 4px #ececec;
}
#home-footer {
  margin-top: 40px;
}
