{include file="public/header" /} 
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

     {include file="public/menu" /}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
         编辑商品
        </h1>
       <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> 后台</a></li>
          <li><a href="#">商品</a></li>
          <li class="active">编辑</li>
        </ol>
      </section>
      <section class="content">
      <div class="row">
      <div class="col-md-12">
      <div class="box">
            <form action='{:url("/goods/form_submit")}'  method="post" class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="goods_name" class="">商品名称</label>
                  <input type="text" name="goods_name" class="form-control" id="goods_name" {notempty name="goods"} value="{$goods.goods_name}" {/notempty} placeholder="商品名称">
                </div>
                <div class="form-group">
                  <label for="goods_sn" class="">商品货号</label>
                  <input type="text" class="form-control" id="goods_sn" {notempty name="goods"} value="{$goods.goods_sn}" {/notempty} name="goods_sn" placeholder="商品货号">
                </div>
                
                <div class="form-group">
                  <label for="goods_number" class="">商品库存</label>
                  <input type="text" class="form-control" id="goods_number" name="goods_number" {notempty name="goods"} value="{$goods.goods_number}" {/notempty} placeholder="商品库存">
                </div>
 
                <div class="form-group">
                  <label for="cat_id" class="">商品分类</label>
                  <select class="form-control" type="cat_id" id="cat_id" name="cat_id">
                    <option value="0">选择分类</option>
                    {foreach name="categorys" item="cat" key="k" }
                       <option value="{$cat.cat_id}" {notempty name="goods"} {if $cat.cat_id eq $goods.cat_id}selected="selected"{/if} {/notempty}>
                            {for start="0" end="$cat.level"}
                                &nbsp;&nbsp;&nbsp;
                            {/for}
                           {$cat.cat_name}
                       </option>
                    {/foreach}
                  </select>
                </div>


                <div class="form-group">
                  <label for="brand" class="">商品品牌</label>
                  <select class="form-control" type="brand_id" id="brand_id" name="brand_id">
                         <option value="0">选择品牌</option>
                        {foreach name="brands" item="brand" key="k" }
                         <option value="{$brand.brand_id}" {notempty name="goods"} {if $brand.brand_id eq $goods.brand_id}selected="selected"{/if} {/notempty}>
                             {$brand.brand_name}
                         </option>
                        {/foreach}
                  </select>
                </div>

                <div class="form-group">
                  <label for="shop_price" class="">销售价</label>
                  <input type="text" class="form-control" {notempty name="goods"} value="{$goods.sale_price}" {/notempty} id="sale_price" name="sale_price" placeholder="销售价">
                </div>

                <div class="form-group">
                  <label for="shop_price" class="">市场价</label>
                  <input type="text" class="form-control" {notempty name="goods"} value="{$goods.market_price}" {/notempty} id="market_price" name="market_price" placeholder="市场价">
                </div>

                <div class="form-group">
                  <label for="keywords" class="">关键词</label>
                  <input type="text" class="form-control" id="keywords" name="keywords" {notempty name="goods"} value="{$goods.keywords}" {/notempty} placeholder="keywords">
                </div>

                <div class="form-group">
                  <label for="goods_desc" class="">简短介绍</label>
                  <textarea class="form-control" name="goods_desc" rows="5" cols="60" >{notempty name="goods"}{$goods.goods_desc}{/notempty}</textarea>
                </div>
 
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <input type="hidden" name="goods_id" {notempty name="goods"} value="{$goods.goods_id}" {/notempty}>
                <input type="hidden" name="op" value="edit" >
                <button type="submit" class="btn btn btn-primary ">提交</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{include file="public/footer" /}
 
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}dist/js/demo.js"></script>
<!-- CK Editor -->
<script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script>
  $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('editor1');
    //bootstrap WYSIHTML5 - text editor
    $(".textarea").wysihtml5();
  });
</script>
</body>
</html>
