<header class="main-header">
    <!-- Logo -->
    <a href="{:url('@admin')}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">诚信贵州后台</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
   <!--   <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">切换导航</span>
      </a>
-->

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="messages-menu">
            <a href="http://cxgz.jiayou9.com" target="_blank">
              网站首页新版
            </a>
          </li>  
          <li class="messages-menu">
            <a href="http://www.guizhou.xin" target="_blank">
              网站首页旧版
            </a>
          </li>  
          <li class="messages-menu">
            <a href="{:url('@user/login')}" target="_blank">
              公司后台
            </a>
          </li>     
          <li class="messages-menu">
            <a href="{:url('@admin/user/logout')}" class="">
              登出
            </a>
          </li>
          <li class="messages-menu">
&nbsp;&nbsp;&nbsp;&nbsp;
          </li>
        </ul>
      </div>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown messages-menu">
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
<!--      <div class="user-panel">
        <div class="pull-left image">
          <img src="{$Think.APP_ADMIN_BOOTSTRAP}dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>家有在线-</p>
          <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
        </div>
      </div> -->
      <!-- search form -->
      <!--
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
       <!-- <li class="header">导航</li> -->

        <!-- 控制台 -->
        <!--
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>控制台</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        -->

        <!-- 商品管理 -->
        {php} 
          if(!empty($_REQUEST['s'])){
            $request = $_REQUEST['s'];           
          }else{
            $request = '';
          }
        {/php}
        <li class="treeview active">
          <div class="menu-title">
            <i class="fa fa-dashboard"></i>&nbsp;&nbsp;<span>企业管理</span>
          </div>
          <ul class="treeview-menu" >
            <li class="{php} if(strpos($request, 'company/add')){echo 'active';} {/php}"><a href="{:url('@admin/company/add')}"><i class="fa fa-angle-right"></i>添加企业</a></li>
            <li class="{php} if(strpos($request, 'admin/company/list')){echo 'active';} {/php}"><a href="{:url('@admin/company/list')}"><i class="fa fa-angle-right"></i>企业列表</a></li>
            <li class="{php} if(strpos($request, 'company/user/add')){echo 'active';} {/php}"><a href="{:url('@admin/company/user/add')}"><i class="fa fa-angle-right"></i>添加企业会员</a></li>
            <li class="{php} if(strpos($request, 'company/user/list')){echo 'active';} {/php}"><a href="{:url('@admin/company/user/list')}"><i class="fa fa-angle-right"></i>企业会员列表</a></li>
            <li class="{php} if(strpos($request, 'company/category')){echo 'active';} {/php}"><a href="{:url('@admin/category/list')}"><i class="fa fa-angle-right"></i>企业分类</a></li>
          </ul>
        </li>
        
        <li class="treeview active" >
          <div class="menu-title">
            <i class="fa fa-th"></i>&nbsp;&nbsp;
            <span>品牌管理</span>
          </div>
          <ul class="treeview-menu">
            <li class="{php} if(strpos($request, 'goods/add')){echo 'active';} {/php}"><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>添加品牌</a></li>
            <li class="{php} if(strpos($request, 'goods/list')){echo 'active';} {/php}"><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>品牌列表</a></li>
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>品牌分类</a></li>
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>知名品牌</a></li>
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>推荐品牌</a></li>
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>获奖品牌</a></li>
          </ul>
        </li>
        
        <!-- 产品管理 -->
        <li class="treeview active" >
          <div class="menu-title">
            <i class="fa fa-cubes"></i>&nbsp;&nbsp;
            <span>产品管理</span>
          </div>
          <ul class="treeview-menu">
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>添加产品</a></li>
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>产品列表</a></li>
          </ul>  
        </li>


        <!-- 商标管理 -->
        <li class="treeview active" >
          <div class="menu-title">
            <i class="fa fa-list"></i>&nbsp;&nbsp;
            <span>商标管理</span>
          </div>
          <ul class="treeview-menu">
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>添加商标</a></li>
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>商标列表</a></li>
          </ul>  
        </li>

        <!-- 景区管理 -->
        <li class="treeview active">
          <div class="menu-title">
            <i class="fa fa-bank"></i>&nbsp;&nbsp;
            <span>景区管理</span>
          </div>
          <ul class="treeview-menu">
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>添加景区</a></li>
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>景区列表</a></li>
          </ul>  
        </li>

        <!-- 数据中心 -->
        <li class="treeview active" >
          <div class="menu-title">
            <i class="fa fa-bar-chart"></i>&nbsp;&nbsp;
            <span>数据中心</span>
          </div>
          <ul class="treeview-menu">
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>工业数据</a></li>
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>农业数据</a></li>
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>旅游业数据</a></li>
          </ul>  
        </li>

        <!-- 查询管理 -->
        <li class="treeview active">
          <div class="menu-title">
            <i class="fa fa-search-minus"></i>&nbsp;&nbsp;
            <span>查询管理</span>
          </div>
          <ul class="treeview-menu">
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>查询数据统计</a></li>
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>查询人员分布</a></li>
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>查询热度排行</a></li>
          </ul>  
        </li>

        <!-- 新闻管理 -->
        <li class="treeview active" >
          <div class="menu-title">
            <i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;
            <span>新闻管理</span>
          </div>
          <ul class="treeview-menu">
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>添加新闻</a></li>
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>新闻列表</a></li>
          </ul>  
        </li>

        <!-- 系统设置 -->
        <li class="treeview active">
          <div class="menu-title">
            <i class="fa fa-bars"></i>&nbsp;&nbsp;
            <span>系统设置</span>
          </div>
          <ul class="treeview-menu">
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>系统设置</a></li>
            <li><a href="{:url('@admin')}"><i class="fa fa-angle-right"></i>修改密码</a></li>
          </ul>  
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>