{include file="page/header" /}
	<body>
		<div id="big-banner">
			<div class="swiper-container">
			  	<div class="swiper-wrapper">
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_1.jpg" class="swiper-slide" />
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_2.jpg" class="swiper-slide" />
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_3.jpg" class="swiper-slide" />
			  	</div>
			  	<article>
		            <!--<div class="swiper-button-prev nextBtn"></div>
		            <div class="swiper-button-next nextBtn"></div>-->
		        </article>
			</div>
		</div>
		<div id="big_main">
			<main class="main_left">
				<div class="left1">
					<ul class="left1_1">
						<h3>行业：</h3>
						<li>全部</li>
						<li>石化</li>
						<li>纺织</li>
						<li>医药</li>
						<li>陶瓷</li>
						<li>石材</li>
						<li>焦炭</li>
						<li>橡胶</li>
						<li>皮革</li>
						<li>机械</li>
						<li>船舶</li>
						<li>水泥</li>
						<li>冶金</li>
						<li>钢铁</li>
					</ul>
					<ul class="left1_2">
						<h3>品牌：</h3>
						<li>全部</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
						<li>品牌名称</li>
					</ul>
					<ul class="left1_3">
						<h3>地区：</h3>
						<li>全部</li>
						<li>贵阳</li>
						<li>遵义</li>
						<li>安顺</li>
						<li>黔南</li>
						<li>黔东南</li>
						<li>毕节</li>
						<li>铜仁</li>
						<li>六盘水</li>
						<li>黔西南</li>
					</ul>
				</div>
				<ul class="left2">
					<li>人气<i class="jy-iconfont icon-xiala"></i></li>
					<li>好评<i class="jy-iconfont icon-xiala"></i></li>
				</ul>
				<ul class="left3">
					<li>
						<div class="img"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/nongye (1).png" /></a></div>
						<p class="name"><span></span><a href="{:url('/brand/detail')}">国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</a></p>
					</li>
					<li>
						<div class="img"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/nongye (2).png" /></a></div>
						<p class="name"><span></span><a href="{:url('/brand/detail')}">国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</a></p>
					</li>
					<li>
						<div class="img"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/nongye (3).png" /></a></div>
						<p class="name"><span></span><a href="{:url('/brand/detail')}">国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</a></p>
					</li>
					<li>
						<div class="img"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/nongye (4).png" /></a></div>
						<p class="name"><span></span><a href="{:url('/brand/detail')}">国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</a></p>
					</li>
					<li>
						<div class="img"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/nongye (5).png" /></a></div>
						<p class="name"><span></span><a href="{:url('/brand/detail')}">国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</a></p>
					</li>
					<li>
						<div class="img"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/nongye (6).png" /></a></div>
						<p class="name"><span></span><a href="{:url('/brand/detail')}">国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</a></p>
					</li>
					<li>
						<div class="img"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/nongye (7).png" /></a></div>
						<p class="name"><span></span><a href="{:url('/brand/detail')}">国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</a></p>
					</li>
					<li>
						<div class="img"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/nongye (1).png" /></a></div>
						<p class="name"><span></span><a href="{:url('/brand/detail')}">国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</a></p>
					</li>
					<li>
						<div class="img"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/nongye (2).png" /></a></div>
						<p class="name"><span></span><a href="{:url('/brand/detail')}">国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</a></p>
					</li>
					<li>
						<div class="img"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/nongye (3).png" /></a></div>
						<p class="name"><span></span><a href="{:url('/brand/detail')}">国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</a></p>
					</li>
					<li>
						<div class="img"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/nongye (4).png" /></a></div>
						<p class="name"><span></span><a href="{:url('/brand/detail')}">国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</a></p>
					</li>
					<li>
						<div class="img"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/nongye (5).png" /></a></div>
						<p class="name"><span></span><a href="{:url('/brand/detail')}">国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</a></p>
					</li>
					<li>
						<div class="img"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/nongye (6).png" /></a></div>
						<p class="name"><span></span><a href="{:url('/brand/detail')}">国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</a></p>
					</li>
					<li>
						<div class="img"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/nongye (7).png" /></a></div>
						<p class="name"><span></span><a href="{:url('/brand/detail')}">国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</a></p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (1).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (2).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (3).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (4).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (5).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (6).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (7).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (1).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (2).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (3).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (4).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (5).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (6).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (7).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (1).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (2).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (3).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (4).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (5).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (6).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (7).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (1).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (2).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (3).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (4).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (5).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (6).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (7).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (1).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (2).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (3).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (4).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (5).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (6).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/nongye (7).png" /></div>
						<p class="name"><span></span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
					</li>
				</ul>
				<div class="fenye">
					<ul class="pagination">
						<li><a href="###">上一页</a></li> 
						<li><a href="###">1</a></li>
						<li class="active"><span>2</span></li>
						<li class="active"><span>3</span></li>
						<li class="active"><span>4</span></li>
						<li class="active"><span>5</span></li>
						<li class="shenglue">...</li>
						<li class="disabled"><span>下一页</span></li>
						<p>共100页，到第
							<select name="">
								<option value="1">1</option>
								<option value="2" selected="selected">2</option>
								<option value="3">3</option>
							</select>页
							<button>确定</button>
						</p>
					</ul>
				</div>
			</main>
			
		</div>
		<div id="returnTop">
			<a href="#header"><i class="jy-iconfont icon-top"></a></i>
		</div>
		{include file="page/footer" /}
	</body>
	<script src="{$Think.PAGE_PATH}js/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/echarts.common.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#header2 li").click(function(){
				$(this).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$(this).siblings("li").find("a").css("color","#055aaa");
			})
			$("#header2 li").hover(function(){
				$(this).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$(this).siblings("li").css({"background": "#fff","border-bottom": "none"}).find("a").css("color","#055aaa");
			},function(){
				$("#header2 li").eq(1).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$("#header2 li").eq(1).siblings("li").css({"background": "#fff","border-bottom": "none"}).find("a").css("color","#055aaa");
			})
			var mySwiper = new Swiper('.swiper-container', {
				autoplay: 2000,//可选选项，自动滑动
				loop : true,//环路
				prevButton:'.swiper-button-prev',//左右按钮
				nextButton:'.swiper-button-next',
				pagination : '.swiper-pagination',//分页器
				autoplayDisableOnInteraction : false,//点击后继续播放
			});
			$('.swiper-container').mouseenter(function(){
				mySwiper.stopAutoplay();
			}).mouseleave(function(){
				mySwiper.startAutoplay();
			});
			$("#big-nav .nav-box li").hover(function(){
				$(this).find("a").css({'background': 'rgba(0,0,0, 0.5)'});
				$(this).siblings("li").find("a").css({'background': '#2863c8'});
			},function(){
				$("#big-nav .nav-box li").eq(0).find("a").css({'background': 'rgba(0,0,0, 0.5)'});
				$("#big-nav .nav-box li").eq(0).siblings("li").find("a").css({'background': '#2863c8'});
			});
			$("#big_main .main2 .main2_center ul li").click(function(){
				$(this).children("h5").children("i").css({
					"fontSize": "51px",
				});
				$(this).siblings("li").children("h5").children("i").css({
					"fontSize": "28px",
				});
				$(this).children(".name").css({"display":"inline-block","margin-top":"0"});
				$(this).siblings("li").children(".name").css({"display":"none","margin-top":"0"});
				$(this).children(".small").css("display", "block");
				$(this).siblings("li").children(".small").css("display", "none");
			})
			$("#returnTop").hover(function(){
				$(this).find("a").slideDown();
			},function(){
				$(this).find("a").slideUp();
			});
			$(window).scroll(function(){
				var top = ($(document).scrollTop());
				if(top > 840){
					$("#returnTop").show();
				}else if(top <= 600){
					$("#returnTop").hide();
				}
			});
			$("#header2 li:eq(1)").click(function(){
				$(this).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$(this).siblings("li").find("a").css("color","#055aaa");
			})
			
		})
	</script>

</html>