{include file="page/header" /}
	<body>
		<div id="big-banner">
			<div class="swiper-container">
			  	<div class="swiper-wrapper">
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_1.jpg" class="swiper-slide" />
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_2.jpg" class="swiper-slide" />
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_3.jpg" class="swiper-slide" />
			  	</div>
			  	<article>
		            <!--<div class="swiper-button-prev nextBtn"></div>
		            <div class="swiper-button-next nextBtn"></div>-->
		        </article>
			</div>
		</div>
		<div id="big_main">
			<main class="main1">
				<div class="main1_title">
					<h2><i class="jy-iconfont icon-huojiang"></i>最新获奖的品牌<span></span></h2>
				</div>
				<div class="main1_left">
					<div class="top">
						<div class="top_left"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/pinpai1.png" /></a></div>
						<div class="top_right">
							<h3>阳春白雪</h3>
							<p>有机 生态 抗辐射</p>
							<h4>荣誉：贵州省精神文明先进单位</h4>
							<div class="img1"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/huojiang2.png" /></a></div>
							<div class="img2"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/huojiang3.png" /></a></div>
						</div>
					</div>
					<div class="bottom">
						<h3>主打商品/服务</h3>
						<ul>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang4.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang5.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang6.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="main1_right">
					<div class="top">
						<div class="top_left"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/pinpai1.png" /></a></div>
						<div class="top_right">
							<h3>湄潭翠芽</h3>
							<p>有机 生态 抗辐射</p>
							<h4>荣誉：贵州省精神文明先进单位</h4>
							<div class="img1"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/huojiang12.png" /></a></div>
							<div class="img2"><a href="{:url('/brand/detail')}"><img src="{$Think.PAGE_PATH}img/huojiang2.png" /></a></div>
						</div>
					</div>
					<div class="bottom">
						<h3>主打商品/服务</h3>
						<ul>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang8.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang9.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang10.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
						</ul>
					</div>
				</div>
			</main>
			<main class="main2">
				<div class="main2_title">
					<h2><i class="jy-iconfont icon-zhiming"></i>知名品牌<span></span></h2>
				</div>
				<div class="main2_left">
					<h3><img src="{$Think.PAGE_PATH}img/duocai.png" /></h3>
					<p>贵州有<span>56</span>个知名产地</p>
					<p>覆盖<span>23</span>个行业类目</p>
					<p>共有<span>34</span>个实力品牌</p>
				</div>
				<main class="main2_center">
					<ul>
						<li class="center1">
							<h5><i class="jy-iconfont icon-dingwei"></i></h5>
							<p class="name">六盘水市</p>
							<div class="small">
								<div class="small_top">
									<div class="img">
										<img src="{$Think.PAGE_PATH}img/zhiming5.png" />
									</div>
									<div class="right">
										<p class="title">阳春白雪</p>
										<p class="cotent">高山生态绿茶</p>
									</div>
								</div>
								<div class="small_bottom">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang7.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang5.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang6.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
								</div>
							</div>
						</li>
						<li class="center2">
							<h5><i class="jy-iconfont icon-dingwei"></i></h5>
							<p class="name">毕节地区</p>
							<div class="small">
								<div class="small_top">
									<div class="img">
										<img src="{$Think.PAGE_PATH}img/zhiming5.png" />
									</div>
									<div class="right">
										<p class="title">阳春白雪</p>
										<p class="cotent">高山生态绿茶</p>
									</div>
								</div>
								<div class="small_bottom">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang7.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang5.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang6.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
								</div>
							</div>
						</li>
						<li class="center3">
							<h5><i class="jy-iconfont icon-dingwei"></i></h5>
							<p class="name">遵义市</p>
							<div class="small">
								<div class="small_top">
									<div class="img">
										<img src="{$Think.PAGE_PATH}img/zhiming5.png" />
									</div>
									<div class="right">
										<p class="title">阳春白雪</p>
										<p class="cotent">高山生态绿茶</p>
									</div>
								</div>
								<div class="small_bottom">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang7.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang5.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang6.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
								</div>
							</div>
						</li>
						<li class="center4">
							<h5><i class="jy-iconfont icon-dingwei"></i></h5>
							<p class="name">铜仁地区</p>
							<div class="small">
								<div class="small_top">
									<div class="img">
										<img src="{$Think.PAGE_PATH}img/zhiming5.png" />
									</div>
									<div class="right">
										<p class="title">阳春白雪</p>
										<p class="cotent">高山生态绿茶</p>
									</div>
								</div>
								<div class="small_bottom">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang7.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang5.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang6.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
								</div>
							</div>
						</li>
						<li class="center5">
							<h5><i class="jy-iconfont icon-dingwei"></i></h5>
							<p class="name">安顺市</p>
							<div class="small">
								<div class="small_top">
									<div class="img">
										<img src="{$Think.PAGE_PATH}img/zhiming5.png" />
									</div>
									<div class="right">
										<p class="title">阳春白雪</p>
										<p class="cotent">高山生态绿茶</p>
									</div>
								</div>
								<div class="small_bottom">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang7.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang5.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang6.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
								</div>
							</div>
						</li>
						<li class="center6">
							<h5><i class="jy-iconfont icon-dingwei"></i></h5>
							<p class="name">贵阳市</p>
							<div class="small">
								<div class="small_top">
									<div class="img">
										<img src="{$Think.PAGE_PATH}img/zhiming5.png" />
									</div>
									<div class="right">
										<p class="title">阳春白雪</p>
										<p class="cotent">高山生态绿茶</p>
									</div>
								</div>
								<div class="small_bottom">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang7.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang5.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang6.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
								</div>
							</div>
						</li>
						<li class="center7">
							<h5><i class="jy-iconfont icon-dingwei"></i></h5>
							<p class="name">黔西南布依族苗族自治州</p>
							<div class="small">
								<div class="small_top">
									<div class="img">
										<img src="{$Think.PAGE_PATH}img/zhiming5.png" />
									</div>
									<div class="right">
										<p class="title">阳春白雪</p>
										<p class="cotent">高山生态绿茶</p>
									</div>
								</div>
								<div class="small_bottom">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang7.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang5.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang6.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
								</div>
							</div>
						</li>
						<li class="center8">
							<h5><i class="jy-iconfont icon-dingwei"></i></h5>
							<p class="name">黔南布依族苗族自治州</p>
							<div class="small">
								<div class="small_top">
									<div class="img">
										<img src="{$Think.PAGE_PATH}img/zhiming5.png" />
									</div>
									<div class="right">
										<p class="title">阳春白雪</p>
										<p class="cotent">高山生态绿茶</p>
									</div>
								</div>
								<div class="small_bottom">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang7.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang5.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang6.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
								</div>
							</div>
						</li>
						<li class="center9">
							<h5><i class="jy-iconfont icon-dingwei"></i></h5>
							<p class="name">黔东南苗族侗族自治州</p>
							<div class="small">
								<div class="small_top">
									<div class="img">
										<img src="{$Think.PAGE_PATH}img/zhiming5.png" />
									</div>
									<div class="right">
										<p class="title">阳春白雪</p>
										<p class="cotent">高山生态绿茶</p>
									</div>
								</div>
								<div class="small_bottom">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang7.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang5.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
									<div class="goods">
										<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang6.png" /></div>
										<p>贵州新茶 遵义红茶绿茶</p>
									</div class="goods">
								</div>
							</div>
						</li>
					</ul>
				</main>
				<div class="main2_right">
					<h2>贵州知名品牌</h2>
					<ul>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/zhiming5.png"/></div>
							<div class="right">
								<h3>阳春白雪</h3>
								<p>高山生态绿茶</p>
							</div>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/zhiming2.png"/></div>
							<div class="right">
								<h3>绿宝石</h3>
								<p>不用洗的干净茶</p>
							</div>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/zhiming4.png"/></div>
							<div class="right">
								<h3>沁园春</h3>
								<p>春暖花茶时，人间四月茶</p>
							</div>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/zhiming3.png"/></div>
							<div class="right">
								<h3>黔茶商城</h3>
								<p>只卖原生态好茶</p>
							</div>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/zhiming1.png"/></div>
							<div class="right">
								<h3>贵州习酒</h3>
								<p>来自赤水河畔的酱香名酒</p>
							</div>
						</li>
					</ul>
				</div>
			</main>
			
			<main class="main3">
				<div class="main3_title">
					<h2><i class="jy-iconfont icon-tuijian"></i>推荐品牌<span></span></h2>
				</div>
				<div class="main3_left1">
					<div class="logo"><img src="{$Think.PAGE_PATH}img/guizhoubiaogan.png" /></div>
					<div class="top">
						<div class="top_left"><img src="{$Think.PAGE_PATH}img/pinpai1.png" /></div>
						<div class="top_right">
							<h3>阳春白雪</h3>
							<p>有机 生态 抗辐射</p>
							<h4>荣誉：贵州省精神文明先进单位</h4>
							<div class="img1"><img src="{$Think.PAGE_PATH}img/huojiang2.png" /></div>
							<div class="img2"><img src="{$Think.PAGE_PATH}img/huojiang3.png" /></div>
						</div>
					</div>
					<div class="bottom">
						<h3>主打商品/服务</h3>
						<ul>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang4.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang5.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang6.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="main3_right1">
					<div class="top">
						<div class="top_left"><img src="{$Think.PAGE_PATH}img/pinpai2.png" /></div>
						<div class="top_right">
							<h3>湄潭翠芽</h3>
							<p>有机 生态 抗辐射</p>
							<h4>荣誉：贵州省精神文明先进单位</h4>
							<div class="img1"><img src="{$Think.PAGE_PATH}img/huojiang12.png" /></div>
							<div class="img2"><img src="{$Think.PAGE_PATH}img/huojiang2.png" /></div>
						</div>
					</div>
					<div class="bottom">
						<h3>主打商品/服务</h3>
						<ul>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang8.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang9.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang10.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="main3_left2">
					<div class="top">
						<div class="top_left"><img src="{$Think.PAGE_PATH}img/pinpai3.png" /></div>
						<div class="top_right">
							<h3>阳春白雪</h3>
							<p>有机 生态 抗辐射</p>
							<h4>荣誉：贵州省精神文明先进单位</h4>
							<div class="img1"><img src="{$Think.PAGE_PATH}img/huojiang2.png" /></div>
							<div class="img2"><img src="{$Think.PAGE_PATH}img/huojiang3.png" /></div>
						</div>
					</div>
					<div class="bottom">
						<h3>主打商品/服务</h3>
						<ul>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang4.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang5.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang6.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="main3_right2">
					<div class="logo"><img src="{$Think.PAGE_PATH}img/quzhengfutuijian.png" /></div>
					<div class="top">
						<div class="top_left"><img src="{$Think.PAGE_PATH}img/pinpai4.png" /></div>
						<div class="top_right">
							<h3>湄潭翠芽</h3>
							<p>有机 生态 抗辐射</p>
							<h4>荣誉：贵州省精神文明先进单位</h4>
							<div class="img1"><img src="{$Think.PAGE_PATH}img/huojiang12.png" /></div>
							<div class="img2"><img src="{$Think.PAGE_PATH}img/huojiang2.png" /></div>
						</div>
					</div>
					<div class="bottom">
						<h3>主打商品/服务</h3>
						<ul>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang8.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang9.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang10.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="main3_left3">
					<div class="logo"><img src="{$Think.PAGE_PATH}img/guizhoubiaogan.png" /></div>
					<div class="top">
						<div class="top_left"><img src="{$Think.PAGE_PATH}img/pinpai1.png" /></div>
						<div class="top_right">
							<h3>阳春白雪</h3>
							<p>有机 生态 抗辐射</p>
							<h4>荣誉：贵州省精神文明先进单位</h4>
							<div class="img1"><img src="{$Think.PAGE_PATH}img/huojiang2.png" /></div>
							<div class="img2"><img src="{$Think.PAGE_PATH}img/huojiang3.png" /></div>
						</div>
					</div>
					<div class="bottom">
						<h3>主打商品/服务</h3>
						<ul>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang4.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang5.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang6.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="main3_right3">
					<div class="top">
						<div class="top_left"><img src="{$Think.PAGE_PATH}img/pinpai1.png" /></div>
						<div class="top_right">
							<h3>湄潭翠芽</h3>
							<p>有机 生态 抗辐射</p>
							<h4>荣誉：贵州省精神文明先进单位</h4>
							<div class="img1"><img src="{$Think.PAGE_PATH}img/huojiang12.png" /></div>
							<div class="img2"><img src="{$Think.PAGE_PATH}img/huojiang2.png" /></div>
						</div>
					</div>
					<div class="bottom">
						<h3>主打商品/服务</h3>
						<ul>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang8.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang9.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
							<li>
								<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang10.png" /></div>
								<p><span>阳春白雪</span> 贵芽1939手工绿茶茶翠芽明前雀舌 茶叶遵义特产贵沙龙课</p>
							</li>
						</ul>
					</div>
				</div>
			</main>
			
		</div>
		<div id="returnTop">
			<a href="#header"><i class="jy-iconfont icon-top"></a></i>
		</div>
		{include file="page/footer" /}
	</body>
	<script src="{$Think.PAGE_PATH}js/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/echarts.common.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var mySwiper = new Swiper('.swiper-container', {
				autoplay: 2000,//可选选项，自动滑动
				loop : true,//环路
				prevButton:'.swiper-button-prev',//左右按钮
				nextButton:'.swiper-button-next',
				pagination : '.swiper-pagination',//分页器
				autoplayDisableOnInteraction : false,//点击后继续播放
			});
			$('.swiper-container').mouseenter(function(){
				mySwiper.stopAutoplay();
			}).mouseleave(function(){
				mySwiper.startAutoplay();
			});
			$("#big-nav .nav-box li").hover(function(){
				$(this).find("a").css({'background': 'rgba(0,0,0, 0.5)'});
				$(this).siblings("li").find("a").css({'background': '#2863c8'});
			},function(){
				$("#big-nav .nav-box li").eq(0).find("a").css({'background': 'rgba(0,0,0, 0.5)'});
				$("#big-nav .nav-box li").eq(0).siblings("li").find("a").css({'background': '#2863c8'});
			});
			$("#big_main .main2 .main2_center ul li").click(function(){
				$(this).children("h5").children("i").css({
					"fontSize": "51px",
				});
				$(this).siblings("li").children("h5").children("i").css({
					"fontSize": "28px",
				});
				$(this).children(".name").css({"display":"inline-block","margin-top":"0"});
				$(this).siblings("li").children(".name").css({"display":"none","margin-top":"0"});
				$(this).children(".small").css("display", "block");
				$(this).siblings("li").children(".small").css("display", "none");
			})
			$("#returnTop").hover(function(){
				$(this).find("a").slideDown();
			},function(){
				$(this).find("a").slideUp();
			});
			$(window).scroll(function(){
				var top = ($(document).scrollTop());
				if(top > 840){
					$("#returnTop").show();
				}else if(top <= 600){
					$("#returnTop").hide();
				}
			});
			$("#header2 li:eq(1)").click(function(){
				$(this).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$(this).siblings("li").find("a").css("color","#055aaa");
			})
			
		})
	</script>
</html>