{include file="page/header" /}
	<body>
		<div id="big-banner">
			<div class="swiper-container">
			  	<div class="swiper-wrapper">
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_1.jpg" class="swiper-slide" />
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_2.jpg" class="swiper-slide" />
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_3.jpg" class="swiper-slide" />
			  	</div>
			  	<article>
		            <!--<div class="swiper-button-prev nextBtn"></div>
		            <div class="swiper-button-next nextBtn"></div>-->
		        </article>
			</div>
		</div>

		<div class="top">
			<h2>
			<i class="jy-iconfont icon-index"></i><span class="span1">　首页</span>　&gt;　<span class="span3">品牌馆</span>　&gt;　<span class="span4">品牌详情</span>
			</h2>
		</div>

		<div id="big_main">
			<main class="main_left">
				<section class="left1">
					<div class="left1_1"><img src="{$Think.PAGE_PATH}img/pinpai1.png" alt="" /></div>
					<div class="left1_2">
						<h3>贵州茅台酒厂有限公司</h3>
						<p class="xinxi">有机 生态 抗辐射</p>
						<p class="industry">行业：工业/食品</p>
						<p class="website">网站：<a href="http://www.jiayou9.com/">www.jiayou9.com</a></p>
					</div>
					<div class="left1_3">
						<div class="img"><img src="{$Think.PAGE_PATH}img/download.jpg" /></div>
						<h3>扫描二维码 访问APP</h3>
					</div>
				</section>
				
				<section class="left2">
					<div class="left2_title">
						<h2><i class="jy-iconfont icon-zhuda"></i>主打产品<span></span></h2>
						<div class="more">更多</div>
					</div>
					<ul>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang4.png" /></div>
							<p class="name"><span>『董酒』</span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
							<p class="guige">500ml</p>
							<p class="content">低度酱香 飞天茅台</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang4.png" /></div>
							<p class="name"><span>『董酒』</span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
							<p class="guige">500ml</p>
							<p class="content">低度酱香 飞天茅台</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang4.png" /></div>
							<p class="name"><span>『董酒』</span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
							<p class="guige">500ml</p>
							<p class="content">低度酱香 飞天茅台</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang4.png" /></div>
							<p class="name"><span>『董酒』</span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
							<p class="guige">500ml</p>
							<p class="content">低度酱香 飞天茅台</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang4.png" /></div>
							<p class="name"><span>『董酒』</span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
							<p class="guige">500ml</p>
							<p class="content">低度酱香 飞天茅台</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang4.png" /></div>
							<p class="name"><span>『董酒』</span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
							<p class="guige">500ml</p>
							<p class="content">低度酱香 飞天茅台</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang4.png" /></div>
							<p class="name"><span>『董酒』</span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
							<p class="guige">500ml</p>
							<p class="content">低度酱香 飞天茅台</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang4.png" /></div>
							<p class="name"><span>『董酒』</span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
							<p class="guige">500ml</p>
							<p class="content">低度酱香 飞天茅台</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/huojiang4.png" /></div>
							<p class="name"><span>『董酒』</span>国密54度 500ml 董香型白口感酒醇厚 正品 保障 酒厂发货包邮</p>
							<p class="guige">500ml</p>
							<p class="content">低度酱香 飞天茅台</p>
						</li>
					</ul>
				</section>
				<section class="left4">
					<div class="left4_title">
						<h2><i class="jy-iconfont icon-tuijian"></i>精选案例<span></span></h2>
					</div>
					<ul>
						<li>
							<img src="{$Think.PAGE_PATH}img/fagui (2).png" />
							<p>家有在线</p>
						</li>
						<li>
							<img src="{$Think.PAGE_PATH}img/zixun2.png" />
							<p>家有在线</p>
						</li>
						<li>
							<img src="{$Think.PAGE_PATH}img/zhishi (1).png" />
							<p>家有在线</p>
						</li>
					</ul>
				</section>
				<section class="left5">
					<div class="left5_title">
						<h2><i class="jy-iconfont icon-huojiang"></i>获奖荣誉<span></span></h2>
					</div>
					<ul>
						<li>
							<img src="{$Think.PAGE_PATH}img/zuxun (1).png" />
							<p>贵州精神文明奖</p>
						</li>
						<li>
							<img src="{$Think.PAGE_PATH}img/zhishi (1).png" />
							<p>贵州精神文明奖</p>
						</li>
						<li>
							<img src="{$Think.PAGE_PATH}img/fagui (1).png" />
							<p>贵州精神文明奖</p>
						</li>
						<li>
							<img src="{$Think.PAGE_PATH}img/fagui (1).png" />
							<p>贵州精神文明奖</p>
						</li>
						<li>
							<img src="{$Think.PAGE_PATH}img/fagui (1).png" />
							<p>贵州精神文明奖</p>
						</li>
					</ul>
				</section>
			</main>
			<main class="main_right">
				<section class="right1">
					<div class="right1_title">
						<h2><i class="jy-iconfont icon-xiangce"></i>相册<span></span></h2>
					</div>
					<ul>
						<li>
							<img src="{$Think.PAGE_PATH}img/fagui (1).png" />
							<p>查看图片（3）</p>
						</li>
					</ul>
				</section>
				<section class="right2">
					<div class="right1_title">
						<h2><i class="jy-iconfont icon-huojiang"></i>荣获贵州省精神文明奖<span></span></h2>
					</div>
					<ul>
						<li>
							<video id="video" width="340" height="227" loop poster="{$Think.PAGE_PATH}img/huojiang3.png">
								<source src="{$Think.PAGE_PATH}img/张杰 - 三生三世.mp4" type="video/mp4"></source>
								<source src="{$Think.PAGE_PATH}img/张杰 - 三生三世.ogv" type="video/ogg"></source>
								<source src="{$Think.PAGE_PATH}img/张杰 - 三生三世.webm" type="video/webm"></source>
								<object width="" height="" type="application/x-shockwave-flash" data="myvideo.swf">
									<param name="movie" value="myvideo.swf" />
									<param name="flashvars" value="autostart=true&amp;file=myvideo.swf" />
								</object>
								当前浏览器不支持 video直接播放，点击这里下载视频： <a href="myvideo.webm">下载视频</a>
							</video>
							<div id="start"><i class="jy-iconfont icon-play"></i></div>
						</li>
					</ul>
				</section>
				<section class="right3">
					<div class="right3_title">
						<h2><i class="jy-iconfont icon-laba"></i>品牌动态<span></span></h2>
					</div>
					<div class="img"><img src="{$Think.PAGE_PATH}img/fagui (1).png" /></div>
					<ul class="content-ul">
						<li><a href="###">陈建斌忆与蒋勤勤结婚:就领了个证</a><span>2017-02-06</span></li>
						<li><a href="###">她过世9年死因曝光 慢性自杀行为</a><span>2017-02-06</span></li>
						<li><a href="###">是否怀疑老公爱上别人？小S答:有湾不回归的气人问题</a><span>2017-02-06</span></li>
						<li><a href="###">最神秘星二代!张学友女</a><span>2017-02-06</span></li>
						<li><a href="###">曹格收藏20辆古董车 </a><span>2017-02-06</span></li>
					</ul>
				</section>
				<section class="right4">
					<div class="right4_title">
						<h2><i class="jy-iconfont icon-xiangguan"></i>相关品牌<span></span></h2>
					</div>
					<ul>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/zhiming5.png"/></div>
							<div class="right">
								<h3>阳春白雪</h3>
								<p>高山生态绿茶</p>
							</div>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/zhiming2.png"/></div>
							<div class="right">
								<h3>绿宝石</h3>
								<p>不用洗的干净茶</p>
							</div>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/zhiming4.png"/></div>
							<div class="right">
								<h3>沁园春</h3>
								<p>春暖花茶时，人间四月茶</p>
							</div>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/zhiming3.png"/></div>
							<div class="right">
								<h3>黔茶商城</h3>
								<p>只卖原生态好茶</p>
							</div>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/zhiming1.png"/></div>
							<div class="right">
								<h3>贵州习酒</h3>
								<p>来自赤水河畔的酱香名酒</p>
							</div>
						</li>
					</ul>
				</section>
			</main>
			
		</div>
		<div id="returnTop">
			<a href="#header"><i class="jy-iconfont icon-top"></a></i>
		</div>
		<div id="bigfuceng">
			<h3>你可以练习：13428726839或者在下方留言</h3>
			<textarea rows="" cols="" placeholder="请在此输入留言内容，我们会尽快与您联系（必填）"></textarea>
			<input type="text" class="name" placeholder="姓名" />
			<input type="tel" class="phone" placeholder="联系方式" />
			<input type="email" class="email" placeholder="邮箱" />
			<input type="text" class="name" placeholder="公司名称" />
			<p class="button">发送</p>
		</div>
		<div id="smallfuceng">
			<div>
				<h3>荣获政府荣誉的品牌，合作起来更靠谱</h3>
				<p>联系品牌</p>
			</div>
		</div>

		{include file="page/footer" /}
	</body>
	<script src="{$Think.PAGE_PATH}js/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/echarts.common.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#header2 li").click(function(){
				$(this).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$(this).siblings("li").find("a").css("color","#055aaa");
			})
			$("#header2 li").hover(function(){
				$(this).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$(this).siblings("li").css({"background": "#fff","border-bottom": "none"}).find("a").css("color","#055aaa");
			},function(){
				$("#header2 li").eq(1).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$("#header2 li").eq(1).siblings("li").css({"background": "#fff","border-bottom": "none"}).find("a").css("color","#055aaa");
			})
			// 知名品牌
			$("#big_main .main2 .main2_center ul li").click(function(){
				$(this).children("h5").children("i").css({
					"fontSize": "38px",
					"color": "#bd1500",
				});
				$(this).siblings("li").children("h5").children("i").css({
					"fontSize": "28px",
					"color": "#3556db",
				});
				$(this).children(".name").css("margin-top", "0");
				$(this).siblings("li").children(".name").css("margin-top", "10px");
				$(this).children(".small").css("display", "block");
				$(this).siblings("li").children(".small").css("display", "none");
			})
			
			// 视频
			var video = document.getElementById("video");
			$("#start").click(function(){
				video.play();
				$(this).css("display", "none");
				
			})
			$("#video").click(function(){
				video.pause();
				$("#start").css("display", "block");
			})
			$("#returnTop").hover(function(){
				$(this).find("a").slideDown();
			},function(){
				$(this).find("a").slideUp();
			});
			$(window).scroll(function(){
				var top = ($(document).scrollTop());
				if(top > 840){
					$("#returnTop").show();
				}else if(top <= 600){
					$("#returnTop").hide();
				}
			});
		})
	</script>
</html>