
		<footer id="footer">
			<ul>
				<!--<li><i class="jy-iconfont icon-zhuban"></i>　主办单位：贵州省人民政府</li>
				<li><i class="jy-iconfont icon-jiandu"></i>　监督单位：省经信委 省农委 省商务厅 省科技厅 省质监局 省工商局 省住建厅 省旅发委 省出入境检验检疫局</li>
				<li><i class="jy-iconfont icon-lianxi"></i>　联系我们：QQ：45666777 微信：12888844 电话：0851-8888888</li>
				<li><i class="jy-iconfont icon-jishu"></i>　支持平台：本平台由<a href=""><img src="img/footer.gif" /></a>技术支持</li>
				<li><i class="jy-iconfont icon-hezuo"></i>　合作伙伴：贵州茅台集团 神奇制药 瓮福集团 牛头牌</li>-->
				<li>主办单位：贵州省人民政府</li>
				<li>监督单位：省经信委 省农委 省商务厅 省科技厅 省质监局 省工商局 省住建厅 省旅发委 省出入境检验检疫局</li>
				<li>联系我们：QQ：45666777 微信：12888844 电话：0851-8888888</li>
				<li>支持平台：本平台由<a href=""><img src="{$Think.PAGE_PATH}img/footer.png" /></a>技术支持</li>
				<li>合作伙伴：贵州茅台集团 神奇制药 瓮福集团 牛头牌</li>
			</ul>
		</footer>
