<!-- 页脚 -->
<!DOCTYPE html>
<html>
	    {php} 
          $request = $_SERVER["REQUEST_URI"];
        {/php}
	<head>
		<title>诚信贵州</title>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">   
    	<link rel="stylesheet" type="text/css" href="{$Think.PAGE_PATH}css/quanju.css" />
    	<link rel="stylesheet" type="text/css" href="{$Think.PAGE_PATH}css/swiper-3.3.1.min.css"/>

    	<link rel="stylesheet" type="text/css" href="{$Think.PAGE_PATH}css/header2.css" />
		<link rel="stylesheet" type="text/css" href="{$Think.PAGE_PATH}css/index.css"/>
		<link rel="stylesheet" type="text/css" href="{$Think.PAGE_PATH}css/footer.css"/>

		{php} 
			if(strpos($request, 'region')){
				echo '<link rel="stylesheet" type="text/css" href="'.PAGE_PATH.'css/scenic_museum.css" />';
			}
			if(strpos($request, 'brand')){
				echo '<link rel="stylesheet" type="text/css" href="'.PAGE_PATH.'css/brands.css" />';
			}
			if(strpos($request, 'product') && !strpos($request, 'info')){
				echo '<link rel="stylesheet" type="text/css" href="'.PAGE_PATH.'css/product_museum.css" />';
			}
			if(strpos($request, 'info') && strpos($request, 'product')){
				echo '<link rel="stylesheet" type="text/css" href="'.PAGE_PATH.'css/product_details.css" />';
			}
			if(strpos($request, 'enterprise')){
				echo '<link rel="stylesheet" type="text/css" href="'.PAGE_PATH.'css/enterprise.css" />';
			}
		{/php}
	</head>
	<body>

		<header id="header">
			<div id="content">
				<ul>
					<li class="header1">
						<img src="{$Think.PAGE_PATH}img/bigDta-LOGO.png" />
					</li>
					<li class="header2">
						<ul id="header2">
							<li class="nav1" style="{php} if($request == '/'){echo 'background:rgb(5, 90, 170); border-bottom: none; color: #fff;  border-bottom: 5px solid rgb(222, 1, 34);';} {/php}" >
								<a style="{php} if($request == '/'){echo 'color: rgb(255, 255, 255); ';} {/php}" href="{:url('/')}">首页</a>
							</li>
							<li class="nav1" style="{php} if(strpos($request, 'brand')){echo 'background:rgb(5, 90, 170); border-bottom: none; color: #fff;  border-bottom: 5px solid rgb(222, 1, 34);';} {/php}">
								<a style="{php} if(strpos($request, 'brand')){echo 'color: rgb(255, 255, 255); ';} {/php}" href="{:url('/brand')}">品牌馆</a>
							</li>
							<li class="nav1" style="{php} if(strpos($request, 'product') && strpos($request, 'info')){echo 'background: rgb(5, 90, 170); border-bottom: none; border-bottom: 5px solid rgb(222, 1, 34);';} {/php}">
								<a style="{php} if(strpos($request, 'product') && strpos($request, 'info')){echo 'color: rgb(255, 255, 255); ';} {/php}" href="{:url('/product')}">产品馆</a>
							</li>
							<li class="nav1" style="{php} if(strpos($request, 'region')){echo 'background: rgb(5, 90, 170); border-bottom: none; border-bottom: 5px solid rgb(222, 1, 34);';} {/php}">
								<a style="{php} if(strpos($request, 'region')){echo 'color: rgb(255, 255, 255); ';} {/php}" href="{:url('/region')}">贵州省著名景区</a>
							</li>
							<li class="nav1" style="{php} if(strpos($request, 'enterprise')){echo 'background: rgb(5, 90, 170); border-bottom: none; border-bottom: 5px solid rgb(222, 1, 34);';} {/php}">
								<a style="{php} if(strpos($request, 'enterprise')){echo 'color: rgb(255, 255, 255); ';} {/php}" href="{:url('/enterprise')}">企业查询</a>
							</li>
							<li class="nav1" style="{php} if(strpos($request, 'trademark')){echo 'background: rgb(5, 90, 170); border-bottom: none; border-bottom: 5px solid rgb(222, 1, 34);';} {/php}">
								<a style="{php} if(strpos($request, 'trademark')){echo 'color: rgb(255, 255, 255); ';} {/php}" href="{:url('/trademark')}">商标馆</a>
							</li>
						</ul>
					</li>
					<li class="header3">
						<select>
							<option value="pinpai">品牌</option>
							<option value="pinpai">品牌1</option>
							<option value="pinpai">品牌2</option>
						</select>
						<input type="text" id="search" placeholder="中国茅台酒厂有限责任公司" />
						<button><i class="jy-iconfont icon-search"></i></button>
					</li>
					<li class="header4">
						<span class="land"><i class="jy-iconfont icon-denglu"></i> <a href="http://company.jiayou9.com" target="_blank" style="color: #045bab;">登陆</a></span>　
						<!-- <span class="register"><i class="jy-iconfont icon-zhuce"></i> 注册</span> -->
					</li>
				</ul>
			</div>
		</header>
	</body>
	<script src="{$Think.PAGE_PATH}js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			// 导航条点击事件
			// $("#header2 li").click(function(){
			// 	$(this).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
			// 	$(this).siblings("li").find("a").css("color","#055aaa");
			// })
			// 导航条划过事件
			$("#header2 li").hover(function(){
				$(this).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$(this).siblings("li").css({"background": "#fff","border-bottom": "none"}).find("a").css("color","#055aaa");
			})
		})
	</script>
</html>
