<!DOCTYPE html>
<html>
	<head>
		<title>家有在线</title>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
	    <link rel="icon" href="http://pc.t.jiayou9.com/img/logo1.png" mce_href="http://pc.t.jiayou9.com/img/logo1.png" type="image/x-icon" />
    	<link rel="stylesheet" href="{$Think.STATIC_SOURCE_PATH}css/quanju.css" />
		<link rel="stylesheet" type="text/css" href="{$Think.STATIC_SOURCE_PATH}js/swiper-3.3.1.min.css"/>
		<link rel="stylesheet" type="text/css" href="{$Think.STATIC_SOURCE_PATH}css/bigData.css"/>
	</head><!--http://www.guizhou.xin/pc/images/index2_header_img2.jpg-->