{include file="page/header" /}


	<body>
		<div id="big-banner">
			<div class="swiper-container">
			  	<div class="swiper-wrapper">
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_1.jpg" class="swiper-slide" />
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_2.jpg" class="swiper-slide" />
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_3.jpg" class="swiper-slide" />
			  	</div>
			  	<article>
		            <!--<div class="swiper-button-prev nextBtn"></div>
		            <div class="swiper-button-next nextBtn"></div>-->
		        </article>
			</div>
		</div>
		<div id="big_main">
			<main class="main1">
<h2>著名景区</h2>
				<ul>
					<li>
						<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main1_1.png"/></a></div>
						<h3>遵义—赤水丹霞</h3>
						<p>这座有着“中华第一瀑”美誉的大瀑布可以从上、下、左、右、前、后6个方位欣赏，堪称奇迹。</p>
					</li>
					<li>
						<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main1_2.png"/></a></div>
						<h3>黔东南—古镇村寨的浪漫</h3>
						<p>这座有着“中华第一瀑”美誉的大瀑布可以从上、下、左、右、前、后6个方位欣赏，堪称奇迹。</p>
					</li>
					<li>
						<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main1_3.png"/></a></div>
						<h3>黔南—荔波开启洗肺之旅</h3>
						<p>这座有着“中华第一瀑”美誉的大瀑布可以从上、下、左、右、前、后6个方位欣赏，堪称奇迹。</p>
					</li>
					<li>
						<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main1_4.png"/></a></div>
						<h3>安顺黄果树—中华第一瀑</h3>
						<p>这座有着“中华第一瀑”美誉的大瀑布可以从上、下、左、右、前、后6个方位欣赏，堪称奇迹。</p>
					</li>
					<li>
						<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main1_5.png"/></a></div>
						<h3>铜仁—梵净山的“佛与净”</h3>
						<p>这座有着“中华第一瀑”美誉的大瀑布可以从上、下、左、右、前、后6个方位欣赏，堪称奇迹。</p>
					</li>
					<li>
						<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main1_6.png"/></a></div>
						<h3>毕节—织金洞探秘</h3>
						<p>这座有着“中华第一瀑”美誉的大瀑布可以从上、下、左、右、前、后6个方位欣赏，堪称奇迹。</p>
					</li>
				</ul>
			</main>
			<main class="main2">
				<h2>贵州旅游</h2>
				<banner><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main2_1.png"/></a></banner>
				<div class="scroll1 swiper-container2">
					<ul class="swiper-wrapper">
						<li class="swiper-slide">
							<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main2_2.png"/></a></div>
							<h3>逛夜市，享美食</h3>
							<p>熬时间离开党的领导数据的快乐富豪四度空间返回撒大声地四大皆空党的领导数据的快乐富豪四度空间返回撒大声地四大皆党的领导数据的快乐富豪四度空间返回撒大声地四大皆</p>
						</li>
						<li class="swiper-slide">
							<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main2_3.png"/></a></div>
							<h3>黔灵山，看秀水绿树</h3>
							<p>熬时间离开党的领导数据的快乐富豪四度空间返回撒大声地四大皆空党的领导数据的快乐富豪四度空间返回撒大声地四大皆党的领导数据的快乐富豪四度空间返回撒大声地四大皆</p>
						</li>
						<li class="swiper-slide">
							<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main2_4.png"/></a></div>
							<h3>苍然青石，悠闲古镇</h3>
							<p>熬时间离开党的领导数据的快乐富豪四度空间返回撒大声地四大皆空党的领导数据的快乐富豪四度空间返回撒大声地四大皆党的领导数据的快乐富豪四度空间返回撒大声地四大皆</p>
						</li>
						<li class="swiper-slide">
							<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main2_5.png"/></a></div>
							<h3>甲秀楼的夜景</h3>
							<p>熬时间离开党的领导数据的快乐富豪四度空间返回撒大声地四大皆空党的领导数据的快乐富豪四度空间返回撒大声地四大皆党的领导数据的快乐富豪四度空间返回撒大声地四大皆</p>
						</li>
						<li class="swiper-slide">
							<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main2_1.png"/></a></div>
							<h3>逛夜市，享美食</h3>
							<p>熬时间离开党的领导数据的快乐富豪四度空间返回撒大声地四大皆空党的领导数据的快乐富豪四度空间返回撒大声地四大皆党的领导数据的快乐富豪四度空间返回撒大声地四大皆</p>
						</li>
						<li class="swiper-slide">
							<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main2_2.png"/></a></div>
							<h3>逛夜市，享美食</h3>
							<p>熬时间离开党的领导数据的快乐富豪四度空间返回撒大声地四大皆空党的领导数据的快乐富豪四度空间返回撒大声地四大皆党的领导数据的快乐富豪四度空间返回撒大声地四大皆</p>
						</li>
					</ul>
					<!-- 如果需要导航按钮 -->
				    <div class="swiper-button-prev"><i class="jy-iconfont icon-left"></i></div>
				    <div class="swiper-button-next"><i class="jy-iconfont icon-right"></i></div>
				</div>
			</main>
			<main class="main3">
				<h2>知名景点</h2>
				<ul>
					<li><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main3_1.png" /></a></li>
					<li><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main3_2.png" /></a></li>
					<li><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main3_3.png" /></a></li>
				</ul>
			</main>
			<main class="main4">
				<h3>旅游</h3>
				<ul class="nav">
					<li><a href="###">景区门票</a></li>
					<li><a href="###">酒店</a></li>
					<li><a href="###">用车</a></li>
					<li><a href="###">美食</a></li>
					<li><a href="###">当地玩乐</a></li>
				</ul>
				<ul class="content content1">
					<li>
						<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main4_1.png" /></a></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main4_2.png" /></a></div>
						<h4>黔灵公园<p><span>AAAA</span>级景区</p></h4>
						<p class="price">￥10元</p>
						<p class="address">景点地址：贵阳市云岩区枣山路187号。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main4_3.png" /></a></div>
						<h4>甲秀楼<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main4_4.png" /></a></div>
						<h4>织金洞<p><span>AAAA</span>级景区</p></h4>
						<p class="price">￥10元</p>
						<p class="address">景点地址：贵阳市云岩区枣山路187号。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><a href="{:url('/region/detail')}"><img src="{$Think.PAGE_PATH}img/jingquguan_main4_5.png" /></a></div>
						<h4>荔波大七孔景区<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥130元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
				</ul>
				<ul class="content content2">
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan7.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥130元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
				</ul>
				<ul class="content content3">
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan7.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
				</ul>
				<ul class="content content4">
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan7.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
				</ul>
				<ul class="content content5">
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan7.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥130元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
				</ul>
			</main>
			<main class="main5">
				<banner><img src="{$Think.PAGE_PATH}img/jingquguan_main5_1.png" /></banner>
				<div class="scroll1 swiper-container2">
					<ul class="swiper-wrapper">
						<li class="swiper-slide">
							<div class="img"><img src="{$Think.PAGE_PATH}img/jingquguan_main5_2.png"/></div>
							<h3>苗族文化的活化石</h3>
							<p>熬时间离开党的领导数据的快乐富豪四度空间返回撒大声地四大皆空党的领导数据的快乐富豪四度空间返回撒大声地四大皆党的领导数据的快乐富豪四度空间返回撒大声地四大皆</p>
						</li>
						<li class="swiper-slide">
							<div class="img"><img src="{$Think.PAGE_PATH}img/jingquguan_main5_3.png"/></div>
							<h3>夜泊舞阳河</h3>
							<p>熬时间离开党的领导数据的快乐富豪四度空间返回撒大声地四大皆空党的领导数据的快乐富豪四度空间返回撒大声地四大皆党的领导数据的快乐富豪四度空间返回撒大声地四大皆</p>
						</li>
						<li class="swiper-slide">
							<div class="img"><img src="{$Think.PAGE_PATH}img/jingquguan_main5_4.png"/></div>
							<h3>一览群峰小，蜿蜒九曲随云渺</h3>
							<p>熬时间离开党的领导数据的快乐富豪四度空间返回撒大声地四大皆空党的领导数据的快乐富豪四度空间返回撒大声地四大皆党的领导数据的快乐富豪四度空间返回撒大声地四大皆</p>
						</li>
						<li class="swiper-slide">
							<div class="img"><img src="{$Think.PAGE_PATH}img/jingquguan_main5_5.png"/></div>
							<h3>白标服饰黔东南</h3>
							<p>熬时间离开党的领导数据的快乐富豪四度空间返回撒大声地四大皆空党的领导数据的快乐富豪四度空间返回撒大声地四大皆党的领导数据的快乐富豪四度空间返回撒大声地四大皆</p>
						</li>
						<li class="swiper-slide">
							<div class="img"><img src="{$Think.PAGE_PATH}img/jingquguan_main5_1.png"/></div>
							<h3>逛夜市，享美食</h3>
							<p>熬时间离开党的领导数据的快乐富豪四度空间返回撒大声地四大皆空党的领导数据的快乐富豪四度空间返回撒大声地四大皆党的领导数据的快乐富豪四度空间返回撒大声地四大皆</p>
						</li>
						<li class="swiper-slide">
							<div class="img"><img src="{$Think.PAGE_PATH}img/jingquguan_main5_2.png"/></div>
							<h3>逛夜市，享美食</h3>
							<p>熬时间离开党的领导数据的快乐富豪四度空间返回撒大声地四大皆空党的领导数据的快乐富豪四度空间返回撒大声地四大皆党的领导数据的快乐富豪四度空间返回撒大声地四大皆</p>
						</li>
					</ul>
					<!-- 如果需要导航按钮 -->
				    <div class="swiper-button-prev"><i class="jy-iconfont icon-left"></i></div>
				    <div class="swiper-button-next"><i class="jy-iconfont icon-right"></i></div>
				</div>
			</main>
			<main class="main6">
				<h2>知名景点</h2>
				<ul>
					<li><img src="{$Think.PAGE_PATH}img/jingquguan_main6_1.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/jingquguan_main6_2.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/jingquguan_main6_3.png" /></li>
				</ul>
			</main>
			<main class="main7">
				<h3>旅游</h3>
				<ul class="nav">
					<li><a href="###">景区门票</a></li>
					<li><a href="###">酒店</a></li>
					<li><a href="###">用车</a></li>
					<li><a href="###">美食</a></li>
					<li><a href="###">当地玩乐</a></li>
				</ul>
				<ul class="content content1">
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/jingquguan_main7_1.png" /></div>
						<h4>西江千户苗寨<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/jingquguan_main7_2.png" /></div>
						<h4>肇兴侗寨<p><span>AAAA</span>级景区</p></h4>
						<p class="price">￥10元</p>
						<p class="address">景点地址：贵阳市云岩区枣山路187号。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/jingquguan_main7_3.png" /></div>
						<h4>云台山<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/jingquguan_main7_4.png" /></div>
						<h4>青龙洞<p><span>AAAA</span>级景区</p></h4>
						<p class="price">￥10元</p>
						<p class="address">景点地址：贵阳市云岩区枣山路187号。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/jingquguan_main7_5.png" /></div>
						<h4>杉木河景区<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥130元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
				</ul>
				<ul class="content content2">
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan7.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥130元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
				</ul>
				<ul class="content content3">
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan7.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
				</ul>
				<ul class="content content4">
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan7.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
				</ul>
				<ul class="content content5">
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan7.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥130元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
					<li>
						<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
						<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
						<p class="price">￥50元</p>
						<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
						<p class="time">开放时间：09:00-17:00。</p>
					</li>
				</ul>
				<hr />
			</main>
		</div>

		</main>
	
		</div>
			<div id="returnTop">
			<a href="#header"><i class="jy-iconfont icon-top"></a></i>
		</div>	
		{include file="page/footer" /}
	</body>
	<script src="{$Think.PAGE_PATH}js/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/echarts.common.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/jquery.raty.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#header2 li").click(function(){
				$(this).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$(this).siblings("li").find("a").css("color","#055aaa");
			})
			$("#header2 li").hover(function(){
				$(this).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$(this).siblings("li").css({"background": "#fff","border-bottom": "none"}).find("a").css("color","#055aaa");
			},function(){
				$("#header2 li").eq(3).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$("#header2 li").eq(3).siblings("li").css({"background": "#fff","border-bottom": "none"}).find("a").css("color","#055aaa");
			})
			var mySwiper = new Swiper('.swiper-container', {
				autoplay: 2000,//可选选项，自动滑动
				loop : true,//环路
				prevButton:'.swiper-button-prev',//左右按钮
				nextButton:'.swiper-button-next',
				pagination : '.swiper-pagination',//分页器
				autoplayDisableOnInteraction : false,//点击后继续播放
			});
			$('.swiper-container').mouseenter(function(){
				mySwiper.stopAutoplay();
			}).mouseleave(function(){
				mySwiper.startAutoplay();
			});
			// 贵州旅游
			var mySwiper2 = new Swiper('.swiper-container2', {
				pagination: 'null',
				slidesPerView: 'auto',
				spaceBetween: 0,
				freeMode: true,
				// 如果需要前进后退按钮
			    nextButton: '.swiper-button-next',
			    prevButton: '.swiper-button-prev',
			});
			// 旅游模块
			$(".main7 .nav li").hover(function(){
				$(this).find("a").css("color","#2863c8");
				$(this).siblings("li").find("a").css("color","#333333");
			})
			$(".main7 .nav li:eq(0)").hover(function(){
				$(".main7 .content").css("display", "none");
				$(".main7 .content1").css("display", "block");
			})
			$(".main7 .nav li:eq(1)").hover(function(){
				$(".main7 .content").css("display", "none");
				$(".main7 .content2").css("display", "block");
			})
			$(".main7 .nav li:eq(2)").hover(function(){
				$(".main7 .content").css("display", "none");
				$(".main7 .content3").css("display", "block");
			})
			$(".main7 .nav li:eq(3)").hover(function(){
				$(".main7 .content").css("display", "none");
				$(".main7 .content4").css("display", "block");
			})
			$(".main7 .nav li:eq(4)").hover(function(){
				$(".main7 .content").css("display", "none");
				$(".main7 .content5").css("display", "block");
			})
			$(window).scroll(function(){
				var top = ($(document).scrollTop());
				if(top > 840){
					$("#returnTop").show();
				}else if(top <= 600){
					$("#returnTop").hide();
				}
			});
		})
	</script>
</html>