{include file="page/header" /}
	<body>
		<div id="big-banner">
			<div class="swiper-container">
			  	<div class="swiper-wrapper">
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_1.jpg" class="swiper-slide" />
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_2.jpg" class="swiper-slide" />
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_3.jpg" class="swiper-slide" />
			  	</div>
			  	<article>
		            <!--<div class="swiper-button-prev nextBtn"></div>
		            <div class="swiper-button-next nextBtn"></div>-->
		        </article>
			</div>
		</div>

		<div class="top">
			<h2>
			<i class="jy-iconfont icon-index"></i><span class="span1">　<a href="{:url('/')}">首页</a></span>　&gt;　<span class="span3"><a href="{:url('/region')}">著名景区</a></span>　&gt;　<span class="span4">青岩古镇</span>
			</h2>
		</div>

		<div id="big_main">
			<main class="main_left">
				<section class="left1">
					<h3>图文详情</h3>
					<div class="left1_1"><img src="{$Think.PAGE_PATH}img/qingyan1.png" /></div>
					<div class="left1_2">青岩古镇位于贵阳市的南郊，距市区约29公里，它是贵州四大古镇（青岩、镇远、丙安、隆里）之一。青岩古镇是一座建于600年前的军事古镇，古镇的阵容布局沿袭明、清格局，交错密布于镇内的明清古建筑。这些古建筑都是设计精巧、工艺精湛的佳作。</div>
				</section>
				<section class="left2">
					<h3>特色美食</h3>
					<ul>
						<li>
							<div class="left"><img src="{$Think.PAGE_PATH}img/qingyan2.png" /></div>
							<div class="right">
								<h4>【状元蹄】</h4>
								<p>状元蹄又名卤猪脚，香气四溢，那感觉真是妙不可言。说起状元蹄那还真有一段历史：相传宋淳祐四年同里人魏汝贤高中状元，魏状元特别喜欢吃红烧蹄，到了清光绪年间，退思园主人任兰生因仰慕魏状元，特聘名厨烧制红烧蹄，作为家宴主菜，雅称“状元蹄”。</p>
							</div>
						</li>
						<li>
							<div class="left"><img src="{$Think.PAGE_PATH}img/qingyan3.png" /></div>
							<div class="right">
								<h4>【豆腐圆子】</h4>
								<p>豆腐圆子使用豆腐捏成圆球状，再裹上面粉做成的。在油锅里微微一炸，出锅的时候黄灿灿的。趁热蘸点贵州特有的蘸水，再整个儿放入嘴里，外脆内软，甜中带辣，很好吃。</p>
							</div>
						</li>
						<li>
							<div class="left"><img src="{$Think.PAGE_PATH}img/qingyan4.png" /></div>
							<div class="right">
								<h4>【鸡辣角】</h4>
								<p>鸡辣角是把鸡肉切小用辣椒和各种配料炒制而成，是青岩人的下饭菜，平时用来拌饭吃，吃米豆腐、吃面吃粉更是离不得，吃火锅便成了火锅底料，纯属青岩人自制的调料。</p>
							</div>
						</li>
					</ul>
				</section>
				<section class="left3">
					<h3>旅游</h3>
					<ul class="nav">
						<li><a href="###">景区门票</a></li>
						<li><a href="###">酒店</a></li>
						<li><a href="###">用车</a></li>
						<li><a href="###">美食</a></li>
						<li><a href="###">当地玩乐</a></li>
					</ul>
					<ul class="content content1">
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
							<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
							<p class="price">￥50元</p>
							<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
							<p class="time">开放时间：09:00-17:00。</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
							<h4>黔灵公园<p><span>AAAA</span>级景区</p></h4>
							<p class="price">￥10元</p>
							<p class="address">景点地址：贵阳市云岩区枣山路187号。</p>
							<p class="time">开放时间：09:00-17:00。</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan7.png" /></div>
							<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
							<p class="price">￥130元</p>
							<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
							<p class="time">开放时间：09:00-17:00。</p>
						</li>
					</ul>
					<ul class="content content2">
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
							<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
							<p class="price">￥50元</p>
							<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
							<p class="time">开放时间：09:00-17:00。</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
							<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
							<p class="price">￥50元</p>
							<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
							<p class="time">开放时间：09:00-17:00。</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan7.png" /></div>
							<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
							<p class="price">￥130元</p>
							<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
							<p class="time">开放时间：09:00-17:00。</p>
						</li>
					</ul>
					<ul class="content content3">
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan7.png" /></div>
							<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
							<p class="price">￥50元</p>
							<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
							<p class="time">开放时间：09:00-17:00。</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
							<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
							<p class="price">￥50元</p>
							<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
							<p class="time">开放时间：09:00-17:00。</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
							<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
							<p class="price">￥50元</p>
							<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
							<p class="time">开放时间：09:00-17:00。</p>
						</li>
					</ul>
					<ul class="content content4">
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
							<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
							<p class="price">￥50元</p>
							<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
							<p class="time">开放时间：09:00-17:00。</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
							<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
							<p class="price">￥50元</p>
							<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
							<p class="time">开放时间：09:00-17:00。</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan7.png" /></div>
							<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
							<p class="price">￥50元</p>
							<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
							<p class="time">开放时间：09:00-17:00。</p>
						</li>
					</ul>
					<ul class="content content5">
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan5.png" /></div>
							<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
							<p class="price">￥50元</p>
							<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
							<p class="time">开放时间：09:00-17:00。</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan7.png" /></div>
							<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
							<p class="price">￥50元</p>
							<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
							<p class="time">开放时间：09:00-17:00。</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan6.png" /></div>
							<h4>青岩古镇<p><span>AAAAA</span>级景区</p></h4>
							<p class="price">￥50元</p>
							<p class="address">景点地址：贵州省贵阳市花溪区青岩镇。</p>
							<p class="time">开放时间：09:00-17:00。</p>
						</li>
					</ul>
					<hr />
				</section>
				<section class="left4">
					<h3>游客点评</h3>
					<ul>
						<li>
							<h4>小月*哈哈</h4>
							<p>鼓励去贵阳旅游的游客去一趟青岩古镇。第一距市区不远（30公里左右），在花果山公园乘坐公交210即到，车程一小时左右。其二这区集餐饮、游览和购物于一点，可在此处体会古装的风味，体力较好的游客更可登上小长城的最高峰，全方位的欣赏青岩，此处的手信和美食都挺有特色，例如辣椒膏和牛皮糖等，但不便宜。各位游客想在此处血要带备弹药了。</p>
						</li>
						<li>
							<h4>mir先生</h4>
							<p>故年走远，人故未来。走过一段是相知，走过一年是相交。在生命中，有些人一起走。在年华中，有些人分开走。在相遇的渡口，有些人。走着走着就没了，有些陌生人。走着走着就在一起了，有些人我始终不知道。会在哪里相聚，又会在哪里提前离开。生命的短暂，相遇的珍惜。所以相遇就是缘，相识便是份。生命中。时间是一场盛宴，爱情是一场坚守。时间走过的雪月，是年华似水中。那一曲独听静好，爱情是一场相遇。一场落花，同样是一场聚散。人生因情而美。岁月因爱而坚守。</p>
						</li>
						<li>
							<h4>月亮小姐</h4>
							<p>青岩古镇，贵州的四大古镇之一，位于贵阳市南郊，原为军事要塞。古镇内设计精巧、工艺精湛的明清古建筑交错密布，寺庙。楼阁画栋雕梁。青岩古镇保留了完整的街道，整个镇子是一个四四方方由城墙包围的城镇。里面弄巷通幽，景色秀丽。</p>
						</li>
					</ul>
				</section>
			</main>
			<main class="main_right">
				<section class="right1">
					<h3>景区信息</h3>
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<th>地理位置：</th>
							<td>贵州省贵阳市花溪区青岩镇</td>
						</tr>
						<tr>
							<th>著名景点：</th>
							<td>九寺、八庙、五阁、二祠、青岩书院、万寿宫、水星楼</td>
						</tr>
						<tr>
							<th>景区级别：</th>
							<td>AAAAA</td>
						</tr>
						<tr>
							<th>开放时间：</th>
							<td>全天开放</td>
						</tr>
						<tr>
							<th>开放时间：</th>
							<td>全天开放</td>
						</tr>
						<tr>
							<th>门票价格：</th>
							<td>10元</td>
						</tr>
						<tr>
							<th>游玩时间：</th>
							<td>建议2-3个小时</td>
						</tr>
						<tr>
							<th>游玩季节：</th>
							<td>建议3-10月份</td>
						</tr>
						<tr>
							<th>特　　产：</th>
							<td>玫瑰糖、状元蹄、鸡辣角、苗王酒</td>
						</tr>
					</table>
				</section>
				<section class="right2">
					<h3>附近景区</h3>
					<ul>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan8.png" /></div>
							<p class="name">花溪公园</p>
						</li>
						<li>
							<div class="img"><img src="{$Think.PAGE_PATH}img/qingyan9.png" /></div>
							<p class="name">甲秀楼</p>
						</li>
					</ul>
				</section>
			</main>
			
		</div>
		<div id="returnTop">
			<a href="#header"><i class="jy-iconfont icon-top"></a></i>
		</div>

		{include file="page/footer" /}
	</body>
	<script src="{$Think.PAGE_PATH}js/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/echarts.common.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#header2 li").click(function(){
				$(this).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$(this).siblings("li").find("a").css("color","#055aaa");
			})
			$("#header2 li").hover(function(){
				$(this).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$(this).siblings("li").css({"background": "#fff","border-bottom": "none"}).find("a").css("color","#055aaa");
			},function(){
				$("#header2 li").eq(0).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$("#header2 li").eq(0).siblings("li").css({"background": "#fff","border-bottom": "none"}).find("a").css("color","#055aaa");
			})
			$(".left3 .nav li").hover(function(){
				$(this).find("a").css("color","#2863c8");
				$(this).siblings("li").find("a").css("color","#333333");
			})
			$(".left3 .nav li:eq(0)").hover(function(){
				$(".left3 .content").css("display", "none");
				$(".left3 .content1").css("display", "block");
			})
			$(".left3 .nav li:eq(1)").hover(function(){
				$(".left3 .content").css("display", "none");
				$(".left3 .content2").css("display", "block");
			})
			$(".left3 .nav li:eq(2)").hover(function(){
				$(".left3 .content").css("display", "none");
				$(".left3 .content3").css("display", "block");
			})
			$(".left3 .nav li:eq(3)").hover(function(){
				$(".left3 .content").css("display", "none");
				$(".left3 .content4").css("display", "block");
			})
			$(".left3 .nav li:eq(4)").hover(function(){
				$(".left3 .content").css("display", "none");
				$(".left3 .content5").css("display", "block");
			})
			$(window).scroll(function(){
				var top = ($(document).scrollTop());
				if(top > 840){
					$("#returnTop").show();
				}else if(top <= 600){
					$("#returnTop").hide();
				}
			});
			
		})
	</script>
</html>