{include file="page/header" /}
	<body>
		<div id="big-banner">
			<div class="swiper-container">
			  	<div class="swiper-wrapper">
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_1.jpg" class="swiper-slide" />
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_2.jpg" class="swiper-slide" />
				  	<img src="{$Think.PAGE_PATH}/img/index_banner_3.jpg" class="swiper-slide" />
			  	</div>
			  	<article>
		            <!--<div class="swiper-button-prev nextBtn"></div>
		            <div class="swiper-button-next nextBtn"></div>-->
		        </article>
			</div>
		</div>

		<div id="big_main">
			<ul class="title">
				<p>地区：</p>
				<li><a href="###">全部</a></li>
				<li><a href="###">贵阳</a></li>
				<li><a href="###">遵义</a></li>
				<li><a href="###">黔南</a></li>
				<li><a href="###">毕节</a></li>
				<li><a href="###">黔西南</a></li>
				<li><a href="###">六盘水</a></li>
				<li><a href="###">黔东南</a></li>
				<li><a href="###">安顺</a></li>
				<li><a href="###">铜仁</a></li>
			</ul>
			<section class="main mainall">
				<ul>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list1.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list2.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list3.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list4.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list5.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list6.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list7.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list8.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list9.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list10.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list11.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list12.png" /></li>
				</ul>
			</section>
			<section class="main main1">
				<ul>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list10.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list9.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list8.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list7.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list6.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list5.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list4.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list3.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list2.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list1.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list11.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list12.png" /></li>
				</ul>
			</section>
			<section class="main main2">
				<ul>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list4.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list5.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list6.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list1.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list3.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list2.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list7.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list8.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list9.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list10.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list11.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list12.png" /></li>
				</ul>
			</section>
			<section class="main main3">
				<ul>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list7.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list8.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list9.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list1.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list2.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list3.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list4.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list5.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list6.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list10.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list11.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list12.png" /></li>
				</ul>
			</section>
			<section class="main main4">
				<ul>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list1.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list2.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list3.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list4.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list5.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list6.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list7.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list8.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list9.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list10.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list11.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list12.png" /></li>
				</ul>
			</section>
			<section class="main main5">
				<ul>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list11.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list12.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list10.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list4.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list5.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list6.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list7.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list8.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list9.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list1.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list2.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list3.png" /></li>
				</ul>
			</section>
			<section class="main main6">
				<ul>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list5.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list6.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list7.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list8.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list1.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list2.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list3.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list4.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list9.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list10.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list11.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list12.png" /></li>
				</ul>
			</section>
			<section class="main main7">
				<ul>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list8.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list9.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list10.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list1.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list2.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list3.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list7.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list8.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list9.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list10.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list11.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list12.png" /></li>
				</ul>
			</section>
			<section class="main main8">
				<ul>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list11.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list12.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list10.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list8.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list9.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list6.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list7.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list4.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list5.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list1.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list2.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list3.png" /></li>
				</ul>
			</section>
			<section class="main main9">
				<ul>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list1.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list2.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list3.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list4.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list5.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list6.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list7.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list8.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list9.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list10.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list11.png" /></li>
					<li><img src="{$Think.PAGE_PATH}img/scenery_list12.png" /></li>
				</ul>
			</section>
		</div>
		<div id="returnTop">
			<a href="#header"><i class="jy-iconfont icon-top"></a></i>
		</div>

		{include file="page/footer" /}
	</body>
	<script src="{$Think.PAGE_PATH}js/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{$Think.PAGE_PATH}js/echarts.common.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#header2 li").click(function(){
				$(this).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$(this).siblings("li").find("a").css("color","#055aaa");
			})
			$("#header2 li").hover(function(){
				$(this).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$(this).siblings("li").css({"background": "#fff","border-bottom": "none"}).find("a").css("color","#055aaa");
			},function(){
				$("#header2 li").eq(3).css({"background": "#055aaa","border-bottom": "5px solid #de0122"}).find("a").css("color","#fff");
				$("#header2 li").eq(3).siblings("li").css({"background": "#fff","border-bottom": "none"}).find("a").css("color","#055aaa");
			})
			$("#big_main .title li").hover(function(){
				$(this).find("a").css("color","#2863c8");
				$(this).siblings("li").find("a").css("color","#333333");
			})
			$("#big_main .title li:eq(0)").hover(function(){
				$("#big_main .main").css("display", "none");
				$("#big_main .mainall").css("display", "block");
			})
			$("#big_main .title li:eq(1)").hover(function(){
				$("#big_main .main").css("display", "none");
				$("#big_main .main1").css("display", "block");
			})
			$("#big_main .title li:eq(2)").hover(function(){
				$("#big_main .main").css("display", "none");
				$("#big_main .main2").css("display", "block");
			})
			$("#big_main .title li:eq(3)").hover(function(){
				$("#big_main .main").css("display", "none");
				$("#big_main .main3").css("display", "block");
			})
			$("#big_main .title li:eq(4)").hover(function(){
				$("#big_main .main").css("display", "none");
				$("#big_main .main4").css("display", "block");
			})
			$("#big_main .title li:eq(5)").hover(function(){
				$("#big_main .main").css("display", "none");
				$("#big_main .main5").css("display", "block");
			})
			$("#big_main .title li:eq(6)").hover(function(){
				$("#big_main .main").css("display", "none");
				$("#big_main .main6").css("display", "block");
			})
			$("#big_main .title li:eq(7)").hover(function(){
				$("#big_main .main").css("display", "none");
				$("#big_main .main7").css("display", "block");
			})
			$("#big_main .title li:eq(8)").hover(function(){
				$("#big_main .main").css("display", "none");
				$("#big_main .main8").css("display", "block");
			})
			$("#big_main .title li:eq(9)").hover(function(){
				$("#big_main .main").css("display", "none");
				$("#big_main .main9").css("display", "block");
			})
			$(window).scroll(function(){
				var top = ($(document).scrollTop());
				if(top > 840){
					$("#returnTop").show();
				}else if(top <= 600){
					$("#returnTop").hide();
				}
			});
			
		})
	</script>
</html>