<header class="main-header">
    <!-- Logo -->
    <a href="{:url('@company')}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">企业录入系统</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
   <!--   <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">切换导航</span>
      </a>
-->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="messages-menu">
            {php} 
              $companyUser = session('company_user');
              $companyUser = json_decode($companyUser);
              echo '<a>'.$companyUser->username.'</a>';
            {/php}
          </li> 
          <li class="messages-menu">
            <a href="http://cxgz.jiayou9.com" target="_blank">
              网站首页新版
            </a>
          </li>  
          <li class="messages-menu">
            <a href="http://www.guizhou.xin" target="_blank">
              网站首页旧版
            </a>
          </li>      
          <li class="messages-menu">
            <a href="{:url('@user/logout')}" class="">  
              登出
            </a>
          </li>
          <li class="messages-menu">
&nbsp;&nbsp;&nbsp;&nbsp;
          </li>
        </ul>
      </div>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown messages-menu">
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
<!--      <div class="user-panel">
        <div class="pull-left image">
          <img src="{$Think.APP_ADMIN_BOOTSTRAP}dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>家有在线-</p>
          <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
        </div>
      </div> -->
      <!-- search form -->
      <!--
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
       <!-- <li class="header">导航</li> -->

        <!-- 控制台 -->
        <!--
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>控制台</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        -->

        <!-- 商品管理 -->
        {php} 
          if(!empty($_REQUEST['s'])){
            $request = $_REQUEST['s'];           
          }else{
            $request = '';
          }
        {/php}
        <li class="treeview active">
          <div class="menu-title">
            <i class="fa fa-dashboard"></i>&nbsp;&nbsp;<span>企业信息</span>
          </div>
          <ul class="treeview-menu" >
            <li class="{php} if(strpos($request, 'basic/edit')){echo 'active';} {/php}"><a href="{:url('@basic/edit')}"><i class="fa fa-angle-right"></i>基本信息</a></li>
            <li class="{php} if(strpos($request, 'qualification/add')){echo 'active';} {/php}"><a href="{:url('@qualification/add')}"><i class="fa fa-angle-right"></i>企业资质添加</a></li>
            <li class="{php} if(strpos($request, 'qualification/list')){echo 'active';} {/php}"><a href="{:url('@qualification/list')}"><i class="fa fa-angle-right"></i>企业资质列表</a></li>
            <li class="{php} if(strpos($request, 'honor/add')){echo 'active';} {/php}"><a href="{:url('@honor/add')}"><i class="fa fa-angle-right"></i>企业荣誉添加</a></li>
            <li class="{php} if(strpos($request, 'honor/list')){echo 'active';} {/php}"><a href="{:url('@honor/list')}"><i class="fa fa-angle-right"></i>企业荣誉列表</a></li>
            <li ><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>企业相册</a></li>
            <li class="{php} if(strpos($request, 'tag/edit')){echo 'active';} {/php}"><a href="{:url('@tag/edit')}"><i class="fa fa-angle-right"></i>企业标签</a></li>
            <li><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>宣传视频</a></li>
          </ul>
        </li>
        
        <li class="treeview active" >
          <div class="menu-title">
            <i class="fa fa-th"></i>&nbsp;&nbsp;
            <span>品牌管理</span>
          </div>
          <ul class="treeview-menu">
            <li class="{php} if(strpos($request, 'goods/add')){echo 'active';} {/php}"><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>添加品牌</a></li>
            <li class="{php} if(strpos($request, 'goods/list')){echo 'active';} {/php}"><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>品牌列表</a></li>
          </ul>
        </li>
        
        <!-- 产品管理 -->
        <li class="treeview active" >
          <div class="menu-title">
            <i class="fa fa-cubes"></i>&nbsp;&nbsp;
            <span>产品管理</span>
          </div>
          <ul class="treeview-menu">
            <li><a href="{:url('@product/add')}"><i class="fa fa-angle-right"></i>添加产品</a></li>
            <li><a href="{:url('@product/list')}"><i class="fa fa-angle-right"></i>产品列表</a></li>
          </ul>  
        </li>


        <!-- 商标管理 -->
        <li class="treeview active" >
          <div class="menu-title">
            <i class="fa fa-list"></i>&nbsp;&nbsp;
            <span>商标管理</span>
          </div>
          <ul class="treeview-menu">
            <li><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>添加商标</a></li>
            <li><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>商标列表</a></li>
          </ul>  
        </li>

        <!-- 知识产权管理 -->
        <li class="treeview active" >
          <div class="menu-title">
            <i class="fa fa-list"></i>&nbsp;&nbsp;
            <span>知识产权管理</span>
          </div>
          <ul class="treeview-menu">
            <li><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>添加专利</a></li>
            <li><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>专利列表</a></li>
            <li><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>添加软件著作权</a></li>
            <li><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>软件著作权列表</a></li>
            <li><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>添加作品著作权</a></li>
            <li><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>作品著作权列表</a></li>
          </ul>  
        </li>

        <!-- 发布管理 -->
        <li class="treeview active" >
          <div class="menu-title">
            <i class="fa fa-list"></i>&nbsp;&nbsp;
            <span>发布管理</span>
          </div>
          <ul class="treeview-menu">
            <li><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>发布信息</a></li>
            <li><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>信息列表</a></li>
          </ul>  
        </li>

        <!-- 系统设置 -->
        <li class="treeview active">
          <div class="menu-title">
            <i class="fa fa-bars"></i>&nbsp;&nbsp;
            <span>系统设置</span>
          </div>
          <ul class="treeview-menu">
            <li><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>系统设置</a></li>
            <li><a href="{:url('@company')}"><i class="fa fa-angle-right"></i>修改密码</a></li>
          </ul>  
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>