{include file="page/header" /}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

     {include file="page/menu" /}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
         企业基本信息
        </h1>
       <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> 录入系统</a></li>
          <li><a href="#">企业</a></li>
          <li class="active" >基本信息</li>
        </ol>
      </section>
      <section class="content">
      <div class="row">
      <div class="col-md-12">
      <div class="box">
        <div class="box-body">
            <form action='{:url("/product/form_submit")}'  method="post" class="form-horizontal" enctype="multipart/form-data" >

              <td>{$company.goods_id}</td>

              <div class="box-body">
                <div class="form-group">
                  <label for="company_name" class="">产品名称</label>
                  <input type="text" class="form-control" id="company_url" name="goods_name" value="{$company.goods_name}">
                </div>

                <div class="form-group">
                  <label for="company_uscc" class="">产品编号</label>
                  <input type="text" class="form-control" id="company_url" name="goods_sn" value="{$company.goods_sn}">
                </div>

                <div class="form-group">
                  <label for="company_uscc" class="">产品售价</label>
                  <input type="text" class="form-control" id="company_url" name="sale_price" value="{$company.sale_price}">
                </div>

                <div class="form-group">
                  <label for="company_leader" class="">产品市场价格</label>
                  <input type="text" class="form-control" id="company_url" name="market_price" value="{$company.market_price}">
                </div>

                <div class="form-group">
                  <label for="company_money" class="">产品关键字</label>
                  <input type="text" class="form-control" id="company_url" name="keywords" value="{$company.keywords}">
                </div>


                <div class="form-group">
                  <label>产品描述</label>
                  <input type="text" class="form-control" id="company_url" name="goods_desc" value="{$company.goods_desc}">
                </div>
                <div class="form-group">
                  <label for="company_url" class="">产品创建时间</label>
                  <input type="text" class="form-control" id="company_url" name="created" value="{$company.created}">
                </div>

              <!-- /.box-body -->
              <div class="box-footer">
                <input type="hidden" name="goods_id" value="{$company.goods_id}" >
                <input type="hidden" name="op" value="edit" >
                <button type="submit" class="btn btn btn-primary ">提交</button>
              </div>
            </form>
            </div>
            </div>
          </div>
        </div>
      </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{include file="page/footer" /}

  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}dist/js/app.min.js"></script>

<!-- CK Editor -->
<script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/colorpicker/bootstrap-colorpicker.min.js"></script>

<script type="text/javascript">
  $('#datepicker').datepicker({
    format: 'yyyy-mm-dd',
  });

  $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.

    //bootstrap WYSIHTML5 - text editor
    $(".textarea").wysihtml5({

    });
  });
</script>
</body>
</html>
