{include file="page/header" /} 
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {include file="page/menu" /}

  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        信息详情
      </h1>
     <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台</a></li>
        <li><a href="#">信息</a></li>
        <li class="active">详情</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-body">
              <p><a href="{:url('@information/list')}" class="btn btn-primary btn-sm">返回</a></p>
              <table class="table table-bordered">
              
                <tr>
                  <td width="200" align="right"><b>标题</b></td>
                  <td>{$item.title}</td>
                </tr>
                <tr>
                  <td width="200" align="right"><b>内容</b></td>
                  <td>{$item.body}</td>
                </tr>

              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

{include file="page/footer" /}
 
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}dist/js/demo.js"></script>


</body>
</html>
