body {
  background: #f1f2f3;
  position: relative;
}
#header {
  width: 100%;
  height: 117px;
  background: #fff;
}
#header #content {
  width: 1200px;
  margin: 0 auto;
  height: 117px;
}
#header #content ul {
  overflow: hidden;
  height: 117px;
}
#header #content ul li {
  float: left;
  height: 117px;
  line-height: 117px;
}
#header #content ul .header1 {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
#header #content ul .header1 img {
  width: 100%;
  height: 100%;
}
#header #content ul .header2 ul {
  overflow: hidden;
  line-height: 117px;
  font-size: 14px;
  font-weight: bold;
  color: #055aaa;
}
#header #content ul .header2 ul li {
  float: left;
}
#header #content ul .header2 ul li a {
  color: #055aaa;
  margin-left: 17px;
  margin-right: 18px;
}
#header #content ul .header2 ul li:nth-of-type(2) {
  background: #055aaa;
  border-bottom: 5px solid #de0122;
}
#header #content ul .header2 ul li:nth-of-type(2) a {
  color: #fff;
}
#header #content ul .header3 {
  width: 310px;
  height: 32px;
  font-size: 0;
  margin-left: 15px;
}
#header #content ul .header3 select {
  background: #eaeaea;
  width: 59px;
  height: 32px;
  border: none;
  font-size: 12px;
  color: #5b5b5b;
  padding-left: 7px;
  vertical-align: middle;
}
#header #content ul .header3 input {
  width: 190px;
  height: 32px;
  border: none;
  vertical-align: middle;
  background: #eaeaea;
}
#header #content ul .header3 input::-webkit-input-placeholder {
  color: #c7c7c7;
  font-size: 12px;
}
#header #content ul .header3 input::-moz-placeholder {
  color: #c7c7c7;
  font-size: 12px;
}
#header #content ul .header3 input:-ms-input-placeholder {
  color: #c7c7c7;
  font-size: 12px;
}
#header #content ul .header3 button {
  width: 61px;
  height: 32px;
  border: none;
  background: #055aaa;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
}
#header #content ul .header4 {
  line-height: 117px;
  font-size: 13px;
  color: #045bab;
  margin-left: 21px;
  font-weight: bold;
}
#big-banner {
  min-width: 1200px;
  height: 417px;
  position: relative;
}
#big-banner .swiper-slide {
  height: 417px;
}
#big-banner .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  position: relative;
  top: -40px;
  margin-right: 12px;
}
#big-banner .swiper-pagination-bullet-active {
  background: #95c357;
}
#big_main {
  width: 1200px;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 54px;
}
#big_main .main_left {
  float: left;
  width: 820px;
}
#big_main .main_left .left1 {
  height: 300px;
  width: 785px;
  background: #fff;
  margin: 24px 0 0 24px;
  border: 2px solid #eaeaea;
  position: relative;
}
#big_main .main_left .left1 .left1_1 {
  width: 260px;
  height: 280px;
  position: absolute;
  top: -24px;
  left: -24px;
}
#big_main .main_left .left1 .left1_1 img {
  width: 100%;
  height: 100%;
}
#big_main .main_left .left1 .left1_2 {
  float: left;
  width: 240px;
  margin-left: 295px;
  margin-right: 20px;
  color: #055aaa;
}
#big_main .main_left .left1 .left1_2 h3 {
  font-size: 18px;
  margin-top: 100px;
  font-weight: bolder;
}
#big_main .main_left .left1 .left1_2 .xinxi {
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  font-style: italic;
}
#big_main .main_left .left1 .left1_2 .industry,
#big_main .main_left .left1 .left1_2 .website {
  font-size: 13px;
  margin-top: 12px;
}
#big_main .main_left .left1 .left1_2 .industry a,
#big_main .main_left .left1 .left1_2 .website a {
  color: #2863c8;
}
#big_main .main_left .left1 .left1_3 {
  float: left;
  width: 195px;
  height: 215px;
  text-align: center;
  padding: 20px 20px 0 20px;
  margin-top: 33px;
  background: #f7f7f7;
}
#big_main .main_left .left1 .left1_3 h3 {
  height: 27px;
  line-height: 27px;
  font-size: 11px;
  color: #939393;
}
#big_main .main_left .left1 .left1_3 .img {
  width: 154px;
  height: 154px;
}
#big_main .main_left .left1 .left1_3 .img img {
  width: 100%;
  height: 100%;
}
#big_main .main_left .left2 {
  width: 100%;
  height: 1220px;
  margin: 0 auto;
  margin-top: 105px;
  background: #fff;
  position: relative;
}
#big_main .main_left .left2 .left2_title {
  width: 100%;
  height: 82px;
  line-height: 82px;
  overflow: hidden;
  border-top: 2px solid #b3cde4;
  margin-top: 5px;
}
#big_main .main_left .left2 .left2_title h2 {
  font-size: 24px;
  float: left;
  color: #055aaa;
}
#big_main .main_left .left2 .left2_title h2 i {
  margin-right: 16px;
  margin-left: 19px;
  font-size: 49px;
  color: #055aaa;
  vertical-align: middle;
}
#big_main .main_left .left2 .left2_title h2 span {
  display: inline-block;
  width: 366px;
  height: 4px;
  background: #055aab;
  position: absolute;
  top: -4px;
  left: 0;
  z-index: 10;
}
#big_main .main_left .left2 .left2_title .more {
  float: right;
  margin-right: 30px;
  width: 60px;
  height: 21px;
  line-height: 21px;
  border-radius: 4px;
  font-size: 13px;
  color: #fff;
  background: #0459a9;
  text-align: center;
  margin-top: 20px;
}
#big_main .main_left .left2 ul {
  padding: 0 35px;
  overflow: hidden;
}
#big_main .main_left .left2 ul li {
  float: left;
  width: 226px;
  height: 340px;
  margin-bottom: 45px;
}
#big_main .main_left .left2 ul li .img {
  width: 226px;
  height: 243px;
  margin-bottom: 8px;
}
#big_main .main_left .left2 ul li .img img {
  width: 100%;
  height: 100%;
}
#big_main .main_left .left2 ul li .name,
#big_main .main_left .left2 ul li .guige {
  font-size: 11px;
  color: #7e7e7e;
  height: 22px;
  line-height: 22px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
#big_main .main_left .left2 ul li .name span,
#big_main .main_left .left2 ul li .guige span {
  color: #e20024;
}
#big_main .main_left .left2 ul li .content {
  color: #b8b8b8;
  font-size: 10px;
  line-height: 11px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
#big_main .main_left .left2 ul li:nth-of-type(3n + 1),
#big_main .main_left .left2 ul li:nth-of-type(3n + 2),
#big_main .main_left .left2 ul li:nth-of-type(3n + 3) {
  margin-right: 15px;
}
#big_main .main_left .left2 ul li:nth-last-of-type(1),
#big_main .main_left .left2 ul li:nth-last-of-type(2),
#big_main .main_left .left2 ul li:nth-last-of-type(3) {
  margin-bottom: 0;
}
#big_main .main_left .left4 {
  width: 100%;
  height: 386px;
  margin: 0 auto;
  margin-top: 12px;
  background: #fff;
  position: relative;
}
#big_main .main_left .left4 .left4_title {
  width: 100%;
  height: 82px;
  line-height: 82px;
  overflow: hidden;
  border-top: 2px solid #b3cde4;
  margin-top: 5px;
}
#big_main .main_left .left4 .left4_title h2 {
  font-size: 24px;
  float: left;
  color: #055aaa;
}
#big_main .main_left .left4 .left4_title h2 i {
  margin-right: 16px;
  margin-left: 19px;
  font-size: 49px;
  color: #055aaa;
  vertical-align: middle;
}
#big_main .main_left .left4 .left4_title h2 span {
  display: inline-block;
  width: 366px;
  height: 4px;
  background: #055aab;
  position: absolute;
  top: -4px;
  left: 0;
  z-index: 10;
}
#big_main .main_left .left4 ul {
  overflow: hidden;
  margin-left: 5px;
}
#big_main .main_left .left4 ul li {
  float: left;
  width: 270px;
  height: 220px;
  position: relative;
}
#big_main .main_left .left4 ul li img {
  width: 100%;
  height: 177px;
}
#big_main .main_left .left4 ul li p {
  text-align: center;
  height: 43px;
  line-height: 43px;
  font-size: 13px;
  color: #737373;
  background: #f7f7f7;
}
#big_main .main_left .left5 {
  width: 100%;
  height: 270px;
  margin: 0 auto;
  margin-top: 12px;
  background: #fff;
  position: relative;
}
#big_main .main_left .left5 .left5_title {
  width: 100%;
  height: 82px;
  line-height: 82px;
  overflow: hidden;
  border-top: 2px solid #b3cde4;
  margin-top: 5px;
}
#big_main .main_left .left5 .left5_title h2 {
  font-size: 24px;
  float: left;
  color: #055aaa;
}
#big_main .main_left .left5 .left5_title h2 i {
  margin-right: 16px;
  margin-left: 19px;
  font-size: 49px;
  color: #055aaa;
  vertical-align: middle;
}
#big_main .main_left .left5 .left5_title h2 span {
  display: inline-block;
  width: 366px;
  height: 4px;
  background: #055aab;
  position: absolute;
  top: -4px;
  left: 0;
  z-index: 10;
}
#big_main .main_left .left5 ul {
  overflow: hidden;
  margin-left: 5px;
  margin-top: 30px;
}
#big_main .main_left .left5 ul li {
  float: left;
  width: 138px;
  height: 91px;
  position: relative;
  margin-left: 20px;
}
#big_main .main_left .left5 ul li img {
  width: 100%;
  height: 100%;
}
#big_main .main_left .left5 ul li p {
  display: none;
  text-align: center;
  height: 43px;
  line-height: 43px;
  font-size: 13px;
  color: #737373;
  background: #f7f7f7;
}
#big_main .main_right {
  width: 375px;
  float: right;
}
#big_main .main_right .right1,
#big_main .main_right .right2 {
  width: 100%;
  height: 328px;
  margin: 0 auto;
  background: #fff;
  padding-left: 27px;
  position: relative;
}
#big_main .main_right .right1 .right1_title,
#big_main .main_right .right2 .right1_title {
  width: 100%;
  height: 82px;
  line-height: 82px;
  overflow: hidden;
  border-top: 2px solid #b3cde4;
  margin-top: 5px;
}
#big_main .main_right .right1 .right1_title h2,
#big_main .main_right .right2 .right1_title h2 {
  font-size: 18px;
  float: left;
  color: #055aaa;
  font-weight: bold;
}
#big_main .main_right .right1 .right1_title h2 i,
#big_main .main_right .right2 .right1_title h2 i {
  margin-right: 16px;
  margin-left: 19px;
  font-size: 49px;
  color: #055aaa;
  vertical-align: middle;
}
#big_main .main_right .right1 .right1_title h2 span,
#big_main .main_right .right2 .right1_title h2 span {
  display: inline-block;
  width: 366px;
  height: 4px;
  background: #055aab;
  position: absolute;
  top: -4px;
  left: 27px;
  z-index: 10;
}
#big_main .main_right .right1 ul,
#big_main .main_right .right2 ul {
  overflow: hidden;
}
#big_main .main_right .right1 ul li,
#big_main .main_right .right2 ul li {
  float: left;
  width: 340px;
  height: 227px;
  position: relative;
}
#big_main .main_right .right1 ul li img,
#big_main .main_right .right2 ul li img {
  width: 100%;
  height: 100%;
}
#big_main .main_right .right1 ul li p,
#big_main .main_right .right2 ul li p {
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 18px;
  color: #737373;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eeeeee;
}
#big_main .main_right .right2 {
  margin-top: 12px;
}
#big_main .main_right .right2 ul li {
  position: relative;
}
#big_main .main_right .right2 ul li #start {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 60px;
  left: 140px;
  z-index: 100;
  display: inline-block;
}
#big_main .main_right .right2 ul li #start i {
  font-size: 70px;
  color: rgba(255, 255, 255, 0.8);
}
#big_main .main_right .right3 {
  width: 100%;
  height: 520px;
  margin: 0 auto;
  background: #fff;
  padding-left: 27px;
  margin-top: 12px;
  position: relative;
}
#big_main .main_right .right3 .right3_title {
  width: 100%;
  height: 82px;
  line-height: 82px;
  overflow: hidden;
  border-top: 2px solid #b3cde4;
  margin-top: 5px;
}
#big_main .main_right .right3 .right3_title h2 {
  font-size: 18px;
  float: left;
  color: #055aaa;
  font-weight: bold;
}
#big_main .main_right .right3 .right3_title h2 i {
  margin-right: 16px;
  margin-left: 19px;
  font-size: 49px;
  color: #055aaa;
  vertical-align: middle;
}
#big_main .main_right .right3 .right3_title h2 span {
  display: inline-block;
  width: 366px;
  height: 4px;
  background: #055aab;
  position: absolute;
  top: -4px;
  left: 27px;
  z-index: 10;
}
#big_main .main_right .right3 .img {
  width: 343px;
  height: 235px;
}
#big_main .main_right .right3 .img img {
  width: 100%;
  height: 100%;
}
#big_main .main_right .right3 .content-ul {
  margin-top: 30px;
}
#big_main .main_right .right3 .content-ul li {
  line-height: 16px;
  font-size: 12px;
  color: #a5a5a5;
  margin-top: 10px;
}
#big_main .main_right .right3 .content-ul li a {
  display: inline-block;
  width: 253px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#big_main .main_right .right3 .content-ul li a:hover {
  color: #ff3055;
  text-decoration: underline;
}
#big_main .main_right .right3 .content-ul li span {
  float: right;
  color: #a5a5a5;
  font-size: 9px;
}
#big_main .main_right .right4 {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background: #fff;
  padding-left: 27px;
  margin-top: 12px;
  position: relative;
}
#big_main .main_right .right4 .right4_title {
  width: 100%;
  height: 82px;
  line-height: 82px;
  overflow: hidden;
  border-top: 2px solid #b3cde4;
  margin-top: 5px;
}
#big_main .main_right .right4 .right4_title h2 {
  font-size: 18px;
  float: left;
  color: #055aaa;
  font-weight: bold;
}
#big_main .main_right .right4 .right4_title h2 i {
  margin-right: 16px;
  margin-left: 19px;
  font-size: 49px;
  color: #055aaa;
  vertical-align: middle;
}
#big_main .main_right .right4 .right4_title h2 span {
  display: inline-block;
  width: 366px;
  height: 4px;
  background: #055aab;
  position: absolute;
  top: -4px;
  left: 27px;
  z-index: 10;
}
#big_main .main_right .right4 ul {
  margin: 0 7px;
  background: #fff;
  margin-top: 15px;
  height: 459px;
}
#big_main .main_right .right4 ul li {
  overflow: hidden;
  margin-bottom: 28px;
  padding-top: 16px;
  margin-left: 50px;
}
#big_main .main_right .right4 ul li .img {
  float: left;
  width: 100px;
  height: 50px;
  margin-right: 20px;
}
#big_main .main_right .right4 ul li .img img {
  width: 100%;
  height: 100%;
}
#big_main .main_right .right4 ul li .right {
  float: left;
}
#big_main .main_right .right4 ul li .right h3 {
  font-size: 17px;
  color: #272727;
}
#big_main .main_right .right4 ul li .right p {
  font-size: 13px;
  color: #898989;
  margin-top: 5px;
}
#returnTop {
  position: fixed;
  bottom: 24px;
  right: 90px;
  width: 50px;
  height: 70px;
  line-height: 30px;
  font-size: 16px;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  border: 1px solid #d3331d;
}
#returnTop a i {
  display: inline-block;
  width: 50px;
  height: 70px;
  font-size: 50px;
  line-height: 70px;
  color: #d3331d;
}
#bigfuceng {
  width: 260px;
  height: 412px;
  background: #fff;
  position: absolute;
  right: 195px;
  bottom: 84px;
  padding: 15px 18px;
  display: none;
}
#bigfuceng h3 {
  height: 48px;
  line-height: 24px;
  font-size: 13px;
  color: #787878;
}
#bigfuceng textarea {
  width: 100%;
  height: 88px;
  margin-top: 15px;
  padding: 10px;
  font-size: 10px;
  line-height: 18px;
  border: 1px solid #e1e3e2;
}
#bigfuceng input {
  display: block;
  border: 1px solid #e1e3e2;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-top: 13px;
  padding-left: 10px;
}
#bigfuceng input:first-of-type {
  margin-top: 8px;
}
#bigfuceng .button {
  font-size: 13px;
  height: 30px;
  width: 100%;
  line-height: 30px;
  text-align: center;
  background: #2963c7;
  margin-top: 20px;
  color: #fff;
}
#bigfuceng textarea::-webkit-input-placeholder {
  color: #9c9c9c;
}
#bigfuceng textarea::-moz-placeholder {
  color: #9c9c9c;
}
#bigfuceng textarea:-ms-input-placeholder {
  color: #9c9c9c;
}
#bigfuceng input::-webkit-input-placeholder {
  color: #9ea8c1;
}
#bigfuceng input::-moz-placeholder {
  color: #9ea8c1;
}
#bigfuceng input:-ms-input-placeholder {
  color: #9ea8c1;
}
#smallfuceng {
  width: 296px;
  height: 189px;
  background: #fff;
  position: absolute;
  right: 190px;
  bottom: 86px;
  display: none;
}
#smallfuceng div {
  padding: 30px 0;
  width: 100%;
  height: 100%;
  position: relative;
}
#smallfuceng div h3 {
  font-size: 19px;
  color: #333333;
  line-height: 36px;
  padding: 0 20px;
}
#smallfuceng div p {
  height: 56px;
  line-height: 56px;
  text-align: center;
  background: #2963c7;
  color: #fff;
  font-size: 22px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
