body{
    background: #f1f2f3;
}
//导航条
#big-nav{
    width: 100%;
    min-width: 1340px;
    background: #2863c8;
    height: 62px;
    line-height: 62px;
    margin-top: -6px;
    .nav-box{
        height: 100%;
        width: 1340px;
        margin: 0 auto;
        overflow: hidden;
        li{
            float: left;
            a{
                display: inline-block;
                padding: 0 35px;
                color: #fff;
                height: 100%;
                font-size: 20px;
                font-weight: 500;
            }
        }
        li:nth-of-type(2){
            background: transparent;
            a{
//              color: #2863c8;
                font-weight: 500;
                background: rgba(0,0,0, 0.5);
            }
        }
//      li:hover{
//          background: #fff;
//          a{
//              color: #428ac1;
//              font-weight: 500;
//          }
//      }
    }
}
//主体部分
#big_main{
    width: 100%;
    background: #f1f2f4;
    .main1{
        width: 1340px;
        height: 585px;
        margin: 0 auto;
        margin-top: 30px;
        background: #fff;
        overflow: hidden;
        h2{
            font-size: 24px;
            height: 77px;
            line-height: 77px;
            i{
                margin-right: 12px;
                margin-left: 20px;
                font-size: 24px;
            }
        }
        .main1_left, .main1_right{
            float: left;
            margin-left: 37px;
            width: 600px;
            .top{
                overflow: hidden;
                .top_left{
                    width: 280px;
                    height: 200px;
                    border: 2px solid #eeeeee;
                    float: left;
                    img{
                        width: 276px;
                        height: 196px;
                    }
                }
                .top_right{
                    float: left;
                    overflow: hidden;
                    margin-left: 20px;
                    h3{
                        font-size: 21px;
                        color: #151515;
                    }
                    p{
                        font-size: 17px;
                        color: #787878;
                        height: 40px;
                        line-height: 40px;
                    }
                    h4{
                        font-size: 18px;
                        color: #414141;
                        height: 45px;
                        line-height: 45px;
                    }
                    div{
                        float: left;
                        width: 124px;
                        height: 83px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .img1{
                        margin-right: 20px;
                    }
                }
            }
            .bottom{
                margin-top: 40px;
                border-top: 1px solid #e3e3e3;
                position: relative;
                h3{
                    position: absolute;
                    top: -15px;
                    left: 200px;
                    width: 200px;
                    font-size: 21px;
                    height: 30px;
                    line-height: 30px;
                    color: #2e2e2e;
                    background: #fff;
                    text-align: center;
                }
                ul{
                    overflow: hidden;
                    li{
                        width: 135px;
                        margin-top: 50px;
                        float: left;
                        margin-right: 20px;
                        .img{
                            width: 130px;
                            height: 130px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        p{
                            font-size: 9px;
                            margin-top: 15px;
                            color: #898989;
                            line-height: 14px;
                            height: 30px;
                             display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                            span{
                                color: #e6b1b7;
                            }
                        }
                    }
                    li:last-of-type{
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .main2{
        width: 1340px;
        height: 585px;
        margin: 0 auto;
        margin-top: 30px;
        background: #fff;
        overflow: hidden;
        position: relative;
        h2{
            font-size: 24px;
            height: 77px;
            line-height: 77px;
            i{
                margin-right: 12px;
                margin-left: 20px;
                font-size: 24px;
            }
        }
        .main2_left{
            float: left;
            margin-left: 50px;
            margin-top: 130px;
            h3{
                font-size: 23px;
                color: #252525;
                height: 43px;
                line-height: 43px;
            }
            p{
                font-size: 17px;
                color: #323232;
                line-height: 36px;
            }
        }
        .main2_center{
            width: 670px;
            height: 550px;
            position: absolute;
            top: 30px;
            left: 260px;
            background: #007AFF;
            background: url(../img/zhiming6.png) no-repeat;
            background-size: cover;
            ul{
                li{
                    position: absolute;
                    h5{
                        text-align: center;
                        i{
                            font-size: 28px;
                            color: #3556db;
                        }
                    }
                    .name{
                        font-size: 11px;
                        font-weight: bold;
                        color: #090a05;
                        text-align: center;
                        margin-top: 10px;
                    }
                    .small{
                        width: 290px;
                        height: 207px;
                        border: 5px solid #9fd5ef;
                        position: relative;
                        top: -275px;
                        left: 50px;
                        background: #fff;
                        z-index: 10;
                        display: none;
                        .small_top{
                            margin: 10px 20px;
                            padding-bottom: 10px;
                            overflow: hidden;
                            border-bottom: 1px solid #f2f2f2;
                            .img{
                                width: 110px;
                                height: 60px;
                                float: left;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .right{
                                float: left;
                                p{
                                    font-size: 11px;
                                    color: #090a05;
                                    margin-top: 10px;
                                }
                            }
                        }
                        .small_bottom{
                            width: 100%;
                            height: 100px;
                            overflow: hidden;
                            .goods{
                                width: 70px;
                                margin-left: 20px;
                                float: left;
                                .img{
                                    width: 65px;
                                    height: 65px;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                                p{
                                    width: 70px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                     font-size: 11px;
                                    color: #090a05;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
                .center1{
                    width: 100px;
                    top: 217px;
                    left: 115px;
                }
                .center2{
                    width: 100px;
                    top: 180px;
                    left: 215px;
                }
                .center3{
                    width: 100px;
                    top: 149px;
                    left: 345px;
                }
                .center4{
                    width: 100px;
                    top: 172px;
                    left: 468px;
                }
                .center5{
                    width: 100px;
                    top: 286px;
                    left: 208px;
                }
                .center6{
                    width: 100px;
                    top: 251px;
                    left: 319px;
                    .small{
                        display: block;
                    }
                    h5{
                        i{
                            font-size: 38px;
                            color: #bd1500;
                        }
                    }
                    .name{
                        margin-top: 0;
                    }
                }
                .center7{
                    width: 100px;
                    top: 372px;
                    left: 134px;
                }
                .center8{
                    width: 100px;
                    top: 342px;
                    left: 318px;
                }
                .center9{
                    width: 100px;
                    top: 310px;
                    left: 480px;
                }
                .center7, .center8, .center9{
                    .small{
                        top: -295px;
                    }
                }
            }
        }
        .main2_right{
            width: 300px;
            position: absolute;
            top: 0;
            right: 30px;
            ul{
                li{
                    overflow: hidden;
                    margin-bottom: 40px;
                    .img{
                        float: left;
                        width: 100px;
                        height: 50px;
                        margin-right: 20px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .right{
                        float: left;
                        h3{
                            font-size: 17px;
                            color: #272727;
                        }
                        p{
                            font-size: 13px;
                            color: #898989;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
    .main3{
        width: 1340px;
        height: 585px;
        margin: 0 auto;
        margin-top: 30px;
        background: #fff;
        overflow: hidden;
        position: relative;
        h2{
            font-size: 24px;
            height: 77px;
            line-height: 77px;
            i{
                margin-right: 12px;
                margin-left: 20px;
                font-size: 24px;
            }
        }
        .main3_left, .main3_right{
            float: left;
            margin-left: 37px;
            width: 600px;
            .top{
                overflow: hidden;
                .top_left{
                    width: 280px;
                    height: 120px;
                    border: 2px solid #eeeeee;
                    float: left;
                    img{
                        width: 276px;
                        height: 116px;
                    }
                }
                .top_right{
                    float: left;
                    overflow: hidden;
                    margin-left: 20px;
                    h3{
                        font-size: 21px;
                        color: #151515;
                    }
                    p{
                        font-size: 17px;
                        color: #787878;
                        height: 40px;
                        line-height: 40px;
                    }
                    h4{
                        font-size: 18px;
                        color: #414141;
                        height: 45px;
                        line-height: 45px;
                    }
                    div{
                        float: left;
                        width: 124px;
                        height: 83px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .img1{
                        margin-right: 20px;
                    }
                }
            }
            .center{
                height: 60px;
                line-height: 30px;
                font-size: 17px;
                color: #7a7a7a;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                margin-top: 20px;
            }
            .bottom{
                margin-top: 40px;
                border-top: 1px solid #e3e3e3;
                position: relative;
                h3{
                    position: absolute;
                    top: -15px;
                    left: 200px;
                    width: 200px;
                    font-size: 21px;
                    height: 30px;
                    line-height: 30px;
                    color: #2e2e2e;
                    background: #fff;
                    text-align: center;
                }
                ul{
                    overflow: hidden;
                    li{
                        width: 135px;
                        margin-top: 50px;
                        float: left;
                        margin-right: 20px;
                        .img{
                            width: 130px;
                            height: 130px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        p{
                            font-size: 9px;
                            margin-top: 15px;
                            color: #898989;
                            line-height: 14px;
                            height: 30px;
                             display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                            span{
                                color: #e6b1b7;
                            }
                        }
                    }
                    li:last-of-type{
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .main4, .main5{
        width: 1340px;
        height: 542px;
        margin: 0 auto;
        margin-top: 10px;
        background: #fff;
//      overflow: hidden;
        position: relative;
        padding-top: 40px;
        
        .main4_left, .main4_right, .main5_left, .main5_right{
            float: left;
            margin-left: 37px;
            width: 600px;
            .top{
                overflow: hidden;
                .top_left{
                    width: 280px;
                    height: 120px;
                    border: 2px solid #eeeeee;
                    float: left;
                    img{
                        width: 276px;
                        height: 116px;
                    }
                }
                .top_right{
                    float: left;
                    overflow: hidden;
                    margin-left: 20px;
                    h3{
                        font-size: 21px;
                        color: #151515;
                    }
                    p{
                        font-size: 17px;
                        color: #787878;
                        height: 40px;
                        line-height: 40px;
                    }
                    h4{
                        font-size: 18px;
                        color: #414141;
                        height: 45px;
                        line-height: 45px;
                    }
                    div{
                        float: left;
                        width: 124px;
                        height: 83px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .img1{
                        margin-right: 20px;
                    }
                }
            }
            .center{
                height: 60px;
                line-height: 30px;
                font-size: 17px;
                color: #7a7a7a;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                margin-top: 20px;
            }
            .bottom{
                margin-top: 40px;
                border-top: 1px solid #e3e3e3;
                position: relative;
                h3{
                    position: absolute;
                    top: -15px;
                    left: 200px;
                    width: 200px;
                    font-size: 21px;
                    height: 30px;
                    line-height: 30px;
                    color: #2e2e2e;
                    background: #fff;
                    text-align: center;
                }
                ul{
                    overflow: hidden;
                    li{
                        width: 135px;
                        margin-top: 50px;
                        float: left;
                        margin-right: 20px;
                        .img{
                            width: 130px;
                            height: 130px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        p{
                            font-size: 9px;
                            margin-top: 15px;
                            color: #898989;
                            line-height: 14px;
                            height: 30px;
                             display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                            span{
                                color: #e6b1b7;
                            }
                        }
                    }
                    li:last-of-type{
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .main4{
        section{
            position: absolute;
            top: -8px;
            left: 600px;
            width: 56px;
            height: 61px;
            z-index: 10;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .main5{
        margin-bottom: 100px;
        section{
            position: absolute;
            top: -8px;
            right: 20px;
            width: 56px;
            height: 61px;
            z-index: 10;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}



#returnTop{
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 50px;
    height: 70px;
    line-height: 30px;
    font-size: 16px;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    i{
//      display: none;
        background: #89a64c;
        display: inline-block;
        width: 50px;
        height: 70px;
        font-size: 50px;
        line-height: 70px;
    }
    a{
//      display: inline-block;
        width: 50px;
        height: 70px;
        padding: 8px;
        display: none;
        position: absolute;
        top: 0;        
        background: #89a64c;
        color: #fff;
    }
}

//页脚部分
#big-footer{
    width: 100%;
    height: 360px;
    background: #000000;
    margin-top: 40px;
    .img{
        width: 1200px;
        height: 360px;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
