#header {
  width: 100%;
  height: 117px;
  background: #fff;
}
#header #content {
  width: 1200px;
  margin: 0 auto;
  height: 117px;
}
#header #content ul {
  overflow: hidden;
  height: 117px;
}
#header #content ul li {
  float: left;
  height: 117px;
  line-height: 117px;
}
#header #content ul .header1 {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
#header #content ul .header1 img {
  width: 100%;
  height: 100%;
}
#header #content ul .header2 ul {
  overflow: hidden;
  line-height: 117px;
  font-size: 14px;
  font-weight: bold;
  color: #055aaa;
}
#header #content ul .header2 ul li {
  float: left;
}
#header #content ul .header2 ul li a {
  color: #055aaa;
 /* margin-left: 17px;
  margin-right: 18px; */
}
/*#header #content ul .header2 ul li:first-of-type {
  background: #055aaa;
  border-bottom: 5px solid #de0122;
}
#header #content ul .header2 ul li:first-of-type a {
  color: #fff;
}*/
#header #content ul .header3 {
  width: 310px;
  height: 32px;
  font-size: 0;
  margin-left: 15px;
}
#header #content ul .header3 select {
  background: #eaeaea;
  width: 59px;
  height: 32px;
  border: none;
  font-size: 12px;
  color: #5b5b5b;
  padding-left: 7px;
  vertical-align: middle;
}
#header #content ul .header3 input {
  width: 190px;
  height: 32px;
  border: none;
  vertical-align: middle;
  background: #eaeaea;
}
#header #content ul .header3 input::-webkit-input-placeholder {
  color: #c7c7c7;
  font-size: 12px;
}
#header #content ul .header3 input::-moz-placeholder {
  color: #c7c7c7;
  font-size: 12px;
}
#header #content ul .header3 input:-ms-input-placeholder {
  color: #c7c7c7;
  font-size: 12px;
}
#header #content ul .header3 button {
  width: 61px;
  height: 32px;
  border: none;
  background: #055aaa;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
}
#header #content ul .header4 {
  line-height: 117px;
  font-size: 13px;
  color: #045bab;
  margin-left: 21px;
  font-weight: bold;
}
