body {
  background: #f1f2f3;
}
#header {
  width: 100%;
  height: 117px;
  background: #fff;
}
#header #content {
  width: 1200px;
  margin: 0 auto;
  height: 117px;
}
#header #content ul {
  overflow: hidden;
  height: 117px;
}
#header #content ul li {
  float: left;
  height: 117px;
  line-height: 117px;
}
#header #content ul .header1 {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
#header #content ul .header1 img {
  width: 100%;
  height: 100%;
}
#header #content ul .header2 ul {
  overflow: hidden;
  line-height: 117px;
  font-size: 14px;
  font-weight: bold;
  color: #055aaa;
}
#header #content ul .header2 ul li {
  float: left;
}
#header #content ul .header2 ul li a {
  color: #055aaa;
 /* margin-left: 17px;
  margin-right: 18px; */
}
/*#header #content ul .header2 ul li:first-of-type {
  background: #055aaa;
  border-bottom: 5px solid #de0122;
} */
#header #content ul .header2 ul li:first-of-type a {
 /* color: #fff; */
}
#header #content ul .header3 {
  width: 310px;
  height: 32px;
  font-size: 0;
  margin-left: 15px;
}
#header #content ul .header3 select {
  background: #eaeaea;
  width: 59px;
  height: 32px;
  border: none;
  font-size: 12px;
  color: #5b5b5b;
  padding-left: 7px;
  vertical-align: middle;
}
#header #content ul .header3 input {
  width: 190px;
  height: 32px;
  border: none;
  vertical-align: middle;
  background: #eaeaea;
}
#header #content ul .header3 input::-webkit-input-placeholder {
  color: #c7c7c7;
  font-size: 12px;
}
#header #content ul .header3 input::-moz-placeholder {
  color: #c7c7c7;
  font-size: 12px;
}
#header #content ul .header3 input:-ms-input-placeholder {
  color: #c7c7c7;
  font-size: 12px;
}
#header #content ul .header3 button {
  width: 61px;
  height: 32px;
  border: none;
  background: #055aaa;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
}
#header #content ul .header4 {
  line-height: 117px;
  font-size: 13px;
  color: #045bab;
  margin-left: 21px;
  font-weight: bold;
}
#big_main {
  width: 1200px;
  height: 1267px;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 50px;
  padding: 0 28px;
}
#big_main h2 {
  width: 100%;
  height: 77px;
  line-height: 77px;
  text-align: center;
  font-size: 23px;
  color: #333333;
}
#big_main .main1 {
  height: 243px;
  width: 100%;
  padding-top: 24px;
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
}
#big_main .main1 .main1_left {
  width: 166px;
  height: 166px;
  border: 1px solid #efefef;
  float: left;
  margin-right: 33px;
}
#big_main .main1 .main1_left img {
  width: 164px;
  height: 164px;
}
#big_main .main1 .main1_right {
  width: 510px;
  float: left;
  font-size: 17px;
  color: #3f3f3f;
  line-height: 28px;
}
#big_main .main2 {
  height: 555px;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}
#big_main .main2 table {
  margin-top: 30px;
  margin-left: 40px;
}
#big_main .main2 table tr {
  line-height: 45px;
  font-size: 13px;
  color: #737373;
}
#big_main .main2 table tr th {
  text-align: right;
  vertical-align: top;
}
#big_main .main2 table tr td input[type="text"] {
  height: 24px;
  border: 1px solid #dddddd;
}
#big_main .main2 table tr td input[type="radio"] {
  font-size: 10px;
  color: #a6a6a6;
}
#big_main .main2 table tr td .number,
#big_main .main2 table tr td .requirement {
  width: 166px;
}
#big_main .main2 table tr td .days {
  width: 40px;
  height: 24px;
  margin: 0 15px;
}
#big_main .main2 table tr td .address {
  width: 420px;
}
#big_main .main2 table tr td textarea {
  width: 878px;
  height: 172px;
  resize: none;
  border: 1px solid #dddddd;
}
#big_main .main3 {
  height: 390px;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}
#big_main .main3 table {
  margin-top: 30px;
  margin-left: 40px;
}
#big_main .main3 table tr {
  line-height: 45px;
  font-size: 13px;
  color: #737373;
}
#big_main .main3 table tr th {
  text-align: right;
  vertical-align: top;
}
#big_main .main3 table tr td input[type="text"] {
  height: 24px;
  width: 166px;
  border: 1px solid #dddddd;
}
#big_main .main3 table tr td input[type="tel"] {
  height: 24px;
  width: 166px;
  border: 1px solid #dddddd;
}
#big_main .main3 table tr td input[type="radio"] {
  font-size: 10px;
  color: #a6a6a6;
}
#big_main .main3 button {
  background: #2a64c8;
  width: 130px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  border: none;
  margin-left: 98px;
  margin-top: 30px;
}
#returnTop {
  position: fixed;
  bottom: 24px;
  right: 90px;
  width: 50px;
  height: 70px;
  line-height: 30px;
  font-size: 16px;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  border: 1px solid #d3331d;
}
#returnTop a i {
  display: inline-block;
  width: 50px;
  height: 70px;
  font-size: 50px;
  line-height: 70px;
  color: #d3331d;
}
