body {
  background: #f1f2f3;
}
#header {
  width: 100%;
  height: 150px;
  background: #fff;
}
#header #content {
  padding: 40px 0;
  margin: 0 auto;
  width: 1200px;
}
#header #content ul {
  overflow: hidden;
  height: 70px;
}
#header #content ul li {
  float: left;
}
#header #content ul .header1 {
  overflow: hidden;
}
#header #content ul .header1 div {
  float: left;
  line-height: 70px;
}
#header #content ul .header1 .img {
  width: 70px;
  height: 70px;
  margin-right: 13px;
}
#header #content ul .header1 .img img {
  width: 100%;
  height: 100%;
}
#header #content ul .header1 .title {
  width: 125px;
  height: 70px;
  line-height: 23px;
  font-size: 17px;
  color: #333333;
  text-align: center;
  padding-left: 13px;
  padding-top: 9px;
  border-left: 1px solid #e5e5e5;
}
#header #content ul .header2 {
  margin-left: 40px;
}
#header #content ul .header2 ul {
  overflow: hidden;
  line-height: 70px;
  font-size: 13px;
  color: #7a7a7a;
}
#header #content ul .header2 ul li {
  margin: 0 11px;
  float: left;
}
#header #content ul .header2 ul li a {
  color: #7a7a7a;
}
#header #content ul .header2 ul li a i {
  margin-left: 5px;
  font-size: 7px;
  color: #7a7a7a;
}
#header #content ul .header3 {
  width: 310px;
  height: 32px;
  margin-top: 18px;
  font-size: 0;
  margin-left: 50px;
}
#header #content ul .header3 select {
  width: 59px;
  height: 32px;
  border: 1px solid #2863c8;
  font-size: 11px;
  color: #2863c8;
  padding-left: 7px;
  vertical-align: middle;
}
#header #content ul .header3 input {
  width: 190px;
  height: 32px;
  border: 1px solid #2863c8;
  border-left: none;
  vertical-align: middle;
}
#header #content ul .header3 button {
  width: 61px;
  height: 32px;
  border: none;
  background: #2863c8;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
}
#header #content ul .header4 {
  line-height: 70px;
  font-size: 16px;
  color: #7a7a7a;
  margin-left: 60px;
}
#big_main {
  width: 1200px;
  height: 1267px;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 50px;
  margin-top: 25px;
  padding: 0 28px;
}
#big_main h2 {
  width: 100%;
  height: 77px;
  line-height: 77px;
  text-align: center;
  font-size: 23px;
  color: #333333;
}
#big_main .main1 {
  height: 243px;
  width: 100%;
  padding-top: 24px;
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
}
#big_main .main1 .main1_left {
  width: 166px;
  height: 166px;
  border: 1px solid #efefef;
  float: left;
  margin-right: 33px;
}
#big_main .main1 .main1_left img {
  width: 164px;
  height: 164px;
}
#big_main .main1 .main1_right {
  width: 510px;
  float: left;
  font-size: 17px;
  color: #3f3f3f;
  line-height: 28px;
}
#big_main .main2 {
  height: 555px;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}
#big_main .main2 table {
  margin-top: 30px;
  margin-left: 40px;
}
#big_main .main2 table tr {
  line-height: 45px;
  font-size: 13px;
  color: #737373;
}
#big_main .main2 table tr th {
  text-align: right;
  vertical-align: top;
}
#big_main .main2 table tr td input[type="text"] {
  height: 24px;
  border: 1px solid #dddddd;
}
#big_main .main2 table tr td input[type="radio"] {
  font-size: 10px;
  color: #a6a6a6;
}
#big_main .main2 table tr td .number,
#big_main .main2 table tr td .requirement {
  width: 166px;
}
#big_main .main2 table tr td .days {
  width: 40px;
  height: 24px;
  margin: 0 15px;
}
#big_main .main2 table tr td .address {
  width: 420px;
}
#big_main .main2 table tr td textarea {
  width: 878px;
  height: 172px;
  resize: none;
  border: 1px solid #dddddd;
}
#big_main .main3 {
  height: 390px;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}
#big_main .main3 table {
  margin-top: 30px;
  margin-left: 40px;
}
#big_main .main3 table tr {
  line-height: 45px;
  font-size: 13px;
  color: #737373;
}
#big_main .main3 table tr th {
  text-align: right;
  vertical-align: top;
}
#big_main .main3 table tr td input[type="text"] {
  height: 24px;
  width: 166px;
  border: 1px solid #dddddd;
}
#big_main .main3 table tr td input[type="tel"] {
  height: 24px;
  width: 166px;
  border: 1px solid #dddddd;
}
#big_main .main3 table tr td input[type="radio"] {
  font-size: 10px;
  color: #a6a6a6;
}
#big_main .main3 button {
  background: #2a64c8;
  width: 130px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  border: none;
  margin-left: 98px;
  margin-top: 30px;
}
#returnTop {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 50px;
  height: 70px;
  line-height: 30px;
  font-size: 16px;
  border-radius: 5px;
  overflow: hidden;
  display: none;
}
#returnTop i {
  background: #89a64c;
  display: inline-block;
  width: 50px;
  height: 70px;
  font-size: 50px;
  line-height: 70px;
}
#returnTop a {
  width: 50px;
  height: 70px;
  padding: 8px;
  display: none;
  position: absolute;
  top: 0;
  background: #89a64c;
  color: #fff;
}
#big-footer {
  width: 100%;
  height: 360px;
  background: #000000;
  margin-top: 40px;
}
#big-footer .img {
  width: 1200px;
  height: 360px;
  margin: 0 auto;
}
#big-footer .img img {
  width: 100%;
  height: 100%;
}
