body {
  background: #f1f2f3;
}
#header {
  width: 100%;
  height: 150px;
  background: #fff;
}
#header #content {
  padding: 40px 0;
  margin: 0 auto;
  width: 1200px;
}
#header #content ul {
  overflow: hidden;
  height: 70px;
}
#header #content ul li {
  float: left;
}
#header #content ul .header1 {
  overflow: hidden;
}
#header #content ul .header1 div {
  float: left;
  line-height: 70px;
}
#header #content ul .header1 .img {
  width: 70px;
  height: 70px;
  margin-right: 13px;
}
#header #content ul .header1 .img img {
  width: 100%;
  height: 100%;
}
#header #content ul .header1 .title {
  width: 125px;
  height: 70px;
  line-height: 23px;
  font-size: 17px;
  color: #333333;
  text-align: center;
  padding-left: 13px;
  padding-top: 9px;
  border-left: 1px solid #e5e5e5;
}
#header #content ul .header2 {
  margin-left: 40px;
}
#header #content ul .header2 ul {
  overflow: hidden;
  line-height: 70px;
  font-size: 13px;
  color: #7a7a7a;
}
#header #content ul .header2 ul li {
  margin: 0 11px;
  float: left;
}
#header #content ul .header2 ul li a {
  color: #7a7a7a;
}
#header #content ul .header2 ul li a i {
  margin-left: 5px;
  font-size: 7px;
  color: #7a7a7a;
}
#header #content ul .header3 {
  width: 310px;
  height: 32px;
  margin-top: 18px;
  font-size: 0;
  margin-left: 50px;
}
#header #content ul .header3 select {
  width: 59px;
  height: 32px;
  border: 1px solid #2863c8;
  font-size: 11px;
  color: #2863c8;
  padding-left: 7px;
  vertical-align: middle;
}
#header #content ul .header3 input {
  width: 190px;
  height: 32px;
  border: 1px solid #2863c8;
  border-left: none;
  vertical-align: middle;
}
#header #content ul .header3 button {
  width: 61px;
  height: 32px;
  border: none;
  background: #2863c8;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
}
#header #content ul .header4 {
  line-height: 70px;
  font-size: 16px;
  color: #7a7a7a;
  margin-left: 60px;
}
#big_banner {
  min-width: 1200px;
  height: 600px;
  position: relative;
}
#big_banner .swiper-slide {
  height: 600px;
}
#big_banner .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  position: relative;
  top: -40px;
  margin-right: 12px;
}
#big_banner .swiper-pagination-bullet-active {
  background: #95c357;
}
#big_main {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 50px;
  margin-top: 25px;
}
#big_main .main1 {
  height: 988px;
  width: 100%;
  background: #fff;
  padding: 0 30px;
}
#big_main .main1 h2 {
  height: 80px;
  line-height: 80px;
  font-size: 23px;
  color: #343434;
}
#big_main .main1 ul {
  overflow: hidden;
}
#big_main .main1 ul li {
  height: 425px;
  width: 360px;
  float: left;
  margin-top: 40px;
}
#big_main .main1 ul li .img {
  width: 360px;
  height: 300px;
}
#big_main .main1 ul li .img img {
  width: 100%;
  height: 100%;
}
#big_main .main1 ul li h3 {
  height: 62px;
  line-height: 62px;
  font-size: 22px;
  color: #252525;
}
#big_main .main1 ul li p {
  font-size: 13px;
  color: #6d6d6d;
  line-height: 24px;
  margin-top: 4px;
}
#big_main .main1 ul li:nth-of-type(3n + 2) {
  margin: 0 28px;
  margin-top: 40px;
}
#big_main .main1 ul li:first-of-type,
#big_main .main1 ul li:nth-of-type(2),
#big_main .main1 ul li:nth-of-type(3) {
  margin-top: 0;
}
#big_main .main2,
#big_main .main5 {
  width: 100%;
  height: 786px;
  background: #fff;
  margin-top: 12px;
}
#big_main .main2 h2,
#big_main .main5 h2 {
  height: 80px;
  line-height: 80px;
  font-size: 23px;
  color: #343434;
  padding: 0 30px;
}
#big_main .main2 banner,
#big_main .main5 banner {
  height: 360px;
  width: 100%;
}
#big_main .main2 banner img,
#big_main .main5 banner img {
  height: 360px;
  width: 100%;
}
#big_main .main2 .scroll1,
#big_main .main5 .scroll1 {
  width: 100%;
  margin-top: 25px;
  height: 300px;
  padding: 0 25px;
  padding-bottom: 20px;
  position: relative;
}
#big_main .main2 .scroll1 ul li,
#big_main .main5 .scroll1 ul li {
  height: 300px;
  width: 240px;
  float: left;
  margin-right: 25px;
}
#big_main .main2 .scroll1 ul li .img,
#big_main .main5 .scroll1 ul li .img {
  width: 240px;
  height: 180px;
}
#big_main .main2 .scroll1 ul li .img img,
#big_main .main5 .scroll1 ul li .img img {
  width: 100%;
  height: 100%;
}
#big_main .main2 .scroll1 ul li h3,
#big_main .main5 .scroll1 ul li h3 {
  font-size: 17px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #fff;
  color: #6e6e6e;
  margin-top: 7px;
}
#big_main .main2 .scroll1 ul li p,
#big_main .main5 .scroll1 ul li p {
  font-size: 11px;
  line-height: 19px;
  color: #a8a8a8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
#big_main .main2 .scroll1 ul li:last-of-type,
#big_main .main5 .scroll1 ul li:last-of-type {
  margin-right: 0;
}
#big_main .main2 .scroll1 .swiper-button-next,
#big_main .main5 .scroll1 .swiper-button-next {
  position: absolute;
  top: 22px;
  right: 0;
  z-index: 101;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  height: 180px;
  text-align: center;
}
#big_main .main2 .scroll1 .swiper-button-next i,
#big_main .main5 .scroll1 .swiper-button-next i {
  height: 180px;
  line-height: 180px;
  font-weight: bold;
}
#big_main .main2 .scroll1 .swiper-button-prev,
#big_main .main5 .scroll1 .swiper-button-prev {
  position: absolute;
  height: 180px;
  top: 22px;
  left: 0;
  z-index: 101;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
#big_main .main2 .scroll1 .swiper-button-prev i,
#big_main .main5 .scroll1 .swiper-button-prev i {
  height: 180px;
  line-height: 180px;
}
#big_main .main3,
#big_main .main6 {
  width: 100%;
  height: 321px;
  background: #fff;
}
#big_main .main3 h2,
#big_main .main6 h2 {
  height: 80px;
  line-height: 80px;
  font-size: 23px;
  color: #343434;
  margin: 0 30px;
  border-top: 1px solid #e3e3e3;
}
#big_main .main3 ul,
#big_main .main6 ul {
  overflow: hidden;
}
#big_main .main3 ul li,
#big_main .main6 ul li {
  width: 360px;
  height: 200px;
  float: left;
  margin-left: 28px;
}
#big_main .main3 ul li img,
#big_main .main6 ul li img {
  width: 100%;
  height: 100%;
}
#big_main .main4,
#big_main .main7 {
  height: 428px;
  width: 100%;
  background: #fff;
  padding-left: 25px;
  position: relative;
}
#big_main .main4 h3,
#big_main .main7 h3 {
  height: 82px;
  line-height: 82px;
  font-size: 23px;
  color: #333333;
  margin-right: 25px;
  border-top: 1px solid #e3e3e3;
}
#big_main .main4 .nav,
#big_main .main7 .nav {
  height: 82px;
  width: 100%;
  line-height: 85px;
  font-size: 11px;
  color: #333333;
  position: absolute;
  top: 0;
  left: 95px;
  overflow: hidden;
}
#big_main .main4 .nav li,
#big_main .main7 .nav li {
  float: left;
  margin-right: 15px;
}
#big_main .main4 .nav li a,
#big_main .main7 .nav li a {
  font-size: 11px;
  color: #333333;
}
#big_main .main4 .nav li:first-of-type a,
#big_main .main7 .nav li:first-of-type a {
  color: #2863c8;
}
#big_main .main4 .content,
#big_main .main7 .content {
  width: 100%;
  height: 385px;
  overflow: hidden;
}
#big_main .main4 .content li,
#big_main .main7 .content li {
  float: left;
  width: 210px;
  margin-left: 22px;
}
#big_main .main4 .content li .img,
#big_main .main7 .content li .img {
  width: 210px;
  height: 160px;
}
#big_main .main4 .content li .img img,
#big_main .main7 .content li .img img {
  width: 100%;
  height: 100%;
}
#big_main .main4 .content li h4,
#big_main .main7 .content li h4 {
  margin-top: 15px;
  height: 23px;
  line-height: 23px;
  font-size: 16px;
  color: #414040;
  overflow: hidden;
}
#big_main .main4 .content li h4 p,
#big_main .main7 .content li h4 p {
  float: right;
  font-size: 12px;
}
#big_main .main4 .content li h4 p span,
#big_main .main7 .content li h4 p span {
  color: #f14d4d;
}
#big_main .main4 .content li .price,
#big_main .main7 .content li .price {
  height: 34px;
  line-height: 34px;
  color: #ed2f2f;
}
#big_main .main4 .content li .address,
#big_main .main7 .content li .address,
#big_main .main4 .content li .time,
#big_main .main7 .content li .time {
  font-size: 11px;
  color: #929191;
  height: 22px;
  line-height: 22px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
#big_main .main4 .content li:first-of-type,
#big_main .main7 .content li:first-of-type {
  margin-left: 0;
}
#big_main .main4 .content2,
#big_main .main7 .content2,
#big_main .main4 .content3,
#big_main .main7 .content3,
#big_main .main4 .content4,
#big_main .main7 .content4,
#big_main .main4 .content5,
#big_main .main7 .content5 {
  display: none;
}
#big_main .main5 {
  margin-top: 0;
  height: 700px;
}
#returnTop {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 50px;
  height: 70px;
  line-height: 30px;
  font-size: 16px;
  border-radius: 5px;
  overflow: hidden;
  display: none;
}
#returnTop i {
  background: #89a64c;
  display: inline-block;
  width: 50px;
  height: 70px;
  font-size: 50px;
  line-height: 70px;
}
#returnTop a {
  width: 50px;
  height: 70px;
  padding: 8px;
  display: none;
  position: absolute;
  top: 0;
  background: #89a64c;
  color: #fff;
}
#big-footer {
  width: 100%;
  height: 360px;
  background: #000000;
  margin-top: 40px;
}
#big-footer .img {
  width: 1200px;
  height: 360px;
  margin: 0 auto;
}
#big-footer .img img {
  width: 100%;
  height: 100%;
}
