{include file="page/header" /} 
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

     {include file="page/menu" /}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
         添加企业
        </h1>
       <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> 后台</a></li>
          <li><a href="#">企业</a></li>
          <li class="active" >添加</li>
        </ol>
      </section>
      <section class="content">
      <div class="row">
      <div class="col-md-12">
      <div class="box">
            <form action='{:url("/admin/company/form_submit")}'  method="post" class="form-horizontal" enctype="multipart/form-data" >
              <div class="box-body">
                <div class="form-group">
                  <label for="company_name" class="">企业名称</label>
                  <input type="text" name="company_name" class="form-control" id="company_name">
                </div>
                <div class="form-group">
                  <label for="company_category" class="">企业分类</label>
                  <select class="form-control" type="company_category" id="company_category" name="company_category">
                    <option value="0"> - 选择 - </option>
                    {if condition=" $categorys neq '' "}
                      {foreach name="categorys" item="category" key="k" }
                         <option value="{$category.id}" >
                              {for start="1" end="$category.level"}
                                  &nbsp;&nbsp;&nbsp;&nbsp; 
                              {/for}
                             {$category.name}
                         </option>
                      {/foreach}
                    {/if}
                  </select>
                </div>
                <div class="form-group">
                  <label for="company_uscc" class="">统一社会信用代码</label>
                  <input type="text" class="form-control" id="company_uscc" name="company_uscc" placeholder="">
                </div>
                
                <div class="form-group">
                  <label for="company_leader" class="">法人代表</label>
                  <input type="text" class="form-control" id="company_leader" name="company_leader" placeholder="姓名">
                </div>

                <div class="form-group">
                  <label for="company_money" class="">注册资本</label>
                  <input type="text" class="form-control" id="company_money" name="company_money" placeholder="0.00">
                </div>

                <div class="form-group">
                  <label for="company_url" class="">企业官网</label>
                  <input type="text" class="form-control" id="company_url" name="company_url" placeholder="http://www.example.com">
                </div>

                <div class="form-group">
                  <label>成立日期</label>
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="datepicker" size="60" placeholder="1970-00-00" name="company_created">
                  </div>
                </div>
                <div class="form-group">
                  <label for="company_phone" class="">企业电话</label>
                  <input type="text" class="form-control" id="company_phone" name="company_phone" >
                </div>
                <div class="form-group">
                  <label for="company_address" class="">企业地址</label>
                  <input type="text" class="form-control" id="company_address" name="company_address" >
                </div>
                <div class="form-group">
                  <label for="company_logo" class="">企业Logo</label>
                  <input type="file" id="company_logo" name="company_logo" >
                </div>
                <div class="form-group">
                  <label for="company_business" class="">经营范围</label>
                  <textarea class="form-control" name="company_business" id="company_business" rows="3" cols="60" ></textarea>
                </div>
                <div class="form-group">
                 <label for="company_description" class="">企业介绍</label>
                  <textarea  class="textarea"  name="company_description" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>   
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <input type="hidden" name="op" value="add" >
                <button type="submit" class="btn btn btn-primary ">提交</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{include file="page/footer" /}
 
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}dist/js/app.min.js"></script>

<!-- CK Editor -->
<script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{$Think.APP_ADMIN_BOOTSTRAP}plugins/colorpicker/bootstrap-colorpicker.min.js"></script>

<script type="text/javascript">
  $('#datepicker').datepicker({
    format: 'yyyy-mm-dd',
  });

  $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.

    //bootstrap WYSIHTML5 - text editor
    $(".textarea").wysihtml5({

    });
  });
</script>
</body>
</html>
